# [dbo].[__EFMigrationsHistory]

In [0]:
USE [HRM]
GO

In [0]:
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 14/05/2024 3:45:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[BENEFIT_PLANS]

In [0]:
/****** Object:  Table [dbo].[BENEFIT_PLANS]    Script Date: 14/05/2024 3:45:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BENEFIT_PLANS](
	[BENEFIT_PLANS_ID] [numeric](18, 0) NOT NULL,
	[PLAN_NAME] [nchar](10) NULL,
	[DEDUCTABLE] [money] NULL,
	[PERCENTAGE_COPAY] [numeric](18, 0) NULL,
 CONSTRAINT [PK_BENEFIT_PLANS] PRIMARY KEY CLUSTERED 
(
	[BENEFIT_PLANS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[EMPLOYMENT]

In [0]:
/****** Object:  Table [dbo].[EMPLOYMENT]    Script Date: 14/05/2024 3:45:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYMENT](
	[EMPLOYMENT_ID] [numeric](18, 0) NOT NULL,
	[EMPLOYMENT_CODE] [nvarchar](50) NULL,
	[EMPLOYMENT_STATUS] [nchar](10) NULL,
	[HIRE_DATE_FOR_WORKING] [date] NULL,
	[WORKERS_COMP_CODE] [nchar](10) NULL,
	[TERMINATION_DATE] [date] NULL,
	[REHIRE_DATE_FOR_WORKING] [date] NULL,
	[LAST_REVIEW_DATE] [date] NULL,
	[NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH] [numeric](18, 0) NULL,
	[PERSONAL_ID] [numeric](18, 0) NULL,
 CONSTRAINT [PK_EMPLOYMENT] PRIMARY KEY CLUSTERED 
(
	[EMPLOYMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[EMPLOYMENT_WORKING_TIME]

In [0]:
/****** Object:  Table [dbo].[EMPLOYMENT_WORKING_TIME]    Script Date: 14/05/2024 3:45:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYMENT_WORKING_TIME](
	[EMPLOYMENT_WORKING_TIME_ID] [numeric](18, 0) NOT NULL,
	[EMPLOYMENT_ID] [numeric](18, 0) NULL,
	[YEAR_WORKING] [date] NULL,
	[MONTH_WORKING] [numeric](2, 0) NULL,
	[NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH] [numeric](2, 0) NULL,
	[TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH] [numeric](2, 0) NULL,
 CONSTRAINT [PK_EMPLOYMENT_WORKING_TIME] PRIMARY KEY CLUSTERED 
(
	[EMPLOYMENT_WORKING_TIME_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[JOB_HISTORY]

In [0]:
/****** Object:  Table [dbo].[JOB_HISTORY]    Script Date: 14/05/2024 3:45:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOB_HISTORY](
	[JOB_HISTORY_ID] [numeric](18, 0) NOT NULL,
	[EMPLOYMENT_ID] [numeric](18, 0) NULL,
	[DEPARTMENT] [nvarchar](250) NULL,
	[DIVISION] [nvarchar](250) NULL,
	[FROM_DATE] [date] NULL,
	[THRU_DATE] [date] NULL,
	[JOB_TITLE] [nvarchar](250) NULL,
	[SUPERVISOR] [nvarchar](250) NULL,
	[LOCATION] [nvarchar](250) NULL,
	[TYPE_OF_WORK] [smallint] NULL,
 CONSTRAINT [PK_JOB_HISTORY] PRIMARY KEY CLUSTERED 
(
	[JOB_HISTORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[PERSONAL]

In [0]:
/****** Object:  Table [dbo].[PERSONAL]    Script Date: 14/05/2024 3:45:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONAL](
	[PERSONAL_ID] [numeric](18, 0) NOT NULL,
	[CURRENT_FIRST_NAME] [nvarchar](50) NULL,
	[CURRENT_LAST_NAME] [nvarchar](max) NULL,
	[CURRENT_MIDDLE_NAME] [nvarchar](50) NULL,
	[BIRTH_DATE] [date] NULL,
	[SOCIAL_SECURITY_NUMBER] [nvarchar](20) NULL,
	[DRIVERS_LICENSE] [nvarchar](50) NULL,
	[CURRENT_ADDRESS_1] [nvarchar](255) NULL,
	[CURRENT_ADDRESS_2] [nvarchar](255) NULL,
	[CURRENT_CITY] [nvarchar](100) NULL,
	[CURRENT_COUNTRY] [nvarchar](100) NULL,
	[CURRENT_ZIP] [numeric](18, 0) NULL,
	[CURRENT_GENDER] [nvarchar](20) NULL,
	[CURRENT_PHONE_NUMBER] [nvarchar](15) NULL,
	[CURRENT_PERSONAL_EMAIL] [nvarchar](50) NULL,
	[CURRENT_MARITAL_STATUS] [nvarchar](50) NULL,
	[ETHNICITY] [nchar](10) NULL,
	[SHAREHOLDER_STATUS] [smallint] NULL,
	[BENEFIT_PLAN_ID] [numeric](18, 0) NULL,
 CONSTRAINT [PK_PERSONAL] PRIMARY KEY CLUSTERED 
(
	[PERSONAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[__EFMigrationsHistory]

In [0]:
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240413164826_v0', N'8.0.3')
GO

# [dbo].[BENEFIT_PLANS]

In [0]:
INSERT [dbo].[BENEFIT_PLANS] ([BENEFIT_PLANS_ID], [PLAN_NAME], [DEDUCTABLE], [PERCENTAGE_COPAY]) VALUES (CAST(1 AS Numeric(18, 0)), N'Protection', 46030.3000, CAST(542976984033211867 AS Numeric(18, 0)))
INSERT [dbo].[BENEFIT_PLANS] ([BENEFIT_PLANS_ID], [PLAN_NAME], [DEDUCTABLE], [PERCENTAGE_COPAY]) VALUES (CAST(2 AS Numeric(18, 0)), N'Health    ', 57415.1800, CAST(241564156327982045 AS Numeric(18, 0)))
INSERT [dbo].[BENEFIT_PLANS] ([BENEFIT_PLANS_ID], [PLAN_NAME], [DEDUCTABLE], [PERCENTAGE_COPAY]) VALUES (CAST(3 AS Numeric(18, 0)), N'Future    ', 22597.7100, CAST(771155364749830488 AS Numeric(18, 0)))
INSERT [dbo].[BENEFIT_PLANS] ([BENEFIT_PLANS_ID], [PLAN_NAME], [DEDUCTABLE], [PERCENTAGE_COPAY]) VALUES (CAST(4 AS Numeric(18, 0)), N'Family    ', 54022.4300, CAST(635542069892833029 AS Numeric(18, 0)))
INSERT [dbo].[BENEFIT_PLANS] ([BENEFIT_PLANS_ID], [PLAN_NAME], [DEDUCTABLE], [PERCENTAGE_COPAY]) VALUES (CAST(5 AS Numeric(18, 0)), N'Savings   ', 15147.9800, CAST(744139221715390770 AS Numeric(18, 0)))
GO

# [dbo].[EMPLOYMENT]

In [0]:
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(200 AS Numeric(18, 0)), N'XsRPo8tXaXKfZfZT29vN23W3pleA3KIXCI6u2uU5PV7DcZP8Lg', N'On Leave  ', CAST(N'1923-03-03' AS Date), N'GU6m2OXV15', CAST(N'2126-04-15' AS Date), CAST(N'2123-10-21' AS Date), CAST(N'2176-10-13' AS Date), CAST(11 AS Numeric(18, 0)), CAST(100 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(201 AS Numeric(18, 0)), N'ZHAJmy9ImpSKTCxoqE545m2esw1HfTEGZxiUdE1864su9jjJx2', N'Active    ', CAST(N'2000-05-12' AS Date), N'd1eX3YL2I4', CAST(N'2145-12-15' AS Date), CAST(N'2075-02-27' AS Date), CAST(N'2184-05-08' AS Date), CAST(8 AS Numeric(18, 0)), CAST(101 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(202 AS Numeric(18, 0)), N'58NuYeD60u2KDE4hpBJ74W4Y41m49ZOa3Ou2RE4fD3OspvtvFI', N'Inactive  ', CAST(N'2013-07-30' AS Date), N'YX1QcH9C46', CAST(N'2049-08-10' AS Date), CAST(N'2096-09-15' AS Date), CAST(N'1932-05-27' AS Date), CAST(2 AS Numeric(18, 0)), CAST(102 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(203 AS Numeric(18, 0)), N'QGk2TGd43YuMa7T9y3O6885Jk14L1FeB8P3KqsDDt3o8QFVa37', N'Inactive  ', CAST(N'1955-06-12' AS Date), N'y2VjKGxhXO', CAST(N'2005-12-20' AS Date), CAST(N'2145-08-24' AS Date), CAST(N'1900-02-23' AS Date), CAST(5 AS Numeric(18, 0)), CAST(103 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(204 AS Numeric(18, 0)), N'W8kDB10uARE70a35Uw3SP6t5Q756KkqRZVY2i2BFJKffC4YxR8', N'Inactive  ', CAST(N'1980-10-02' AS Date), N'xvDtSV1iYt', CAST(N'1997-03-20' AS Date), CAST(N'1905-03-09' AS Date), CAST(N'2153-11-03' AS Date), CAST(9 AS Numeric(18, 0)), CAST(104 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(205 AS Numeric(18, 0)), N'0X3ZJ4QMH8J80t0tHSLdK7n5A9J5h78hiDwa3JdnKhu24Cm5vI', N'On Leave  ', CAST(N'1901-04-14' AS Date), N'uxN5E0iMdA', CAST(N'2159-11-04' AS Date), CAST(N'1925-01-11' AS Date), CAST(N'1939-09-13' AS Date), CAST(8 AS Numeric(18, 0)), CAST(105 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(206 AS Numeric(18, 0)), N'0m46hx5k9NrR00PUz6O7d0fwqn2v7oV1s7OHYLQC25bemaxugn', N'On Leave  ', CAST(N'1982-12-29' AS Date), N'9iF5o24OZb', CAST(N'2024-02-07' AS Date), CAST(N'2105-03-25' AS Date), CAST(N'2161-04-24' AS Date), CAST(3 AS Numeric(18, 0)), CAST(106 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(207 AS Numeric(18, 0)), N'Zp4PSVc24d738qb8OHeJegW8iQs0g8Wh3DDecM4Rlr9weE3EFH', N'Inactive  ', CAST(N'1986-04-02' AS Date), N'TR1r11vS8V', CAST(N'1940-05-13' AS Date), CAST(N'2139-02-25' AS Date), CAST(N'1916-07-12' AS Date), CAST(3 AS Numeric(18, 0)), CAST(107 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(208 AS Numeric(18, 0)), N'hmK087O1ecK3N4X1S1wD7852Vq0wQKi41Gd677uB40qgXJ3QK9', N'Active    ', CAST(N'1979-11-15' AS Date), N'fX4mjX1itC', CAST(N'2165-03-29' AS Date), CAST(N'2184-10-15' AS Date), CAST(N'2010-08-04' AS Date), CAST(11 AS Numeric(18, 0)), CAST(108 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(209 AS Numeric(18, 0)), N'e4fZU8XSu326Bxa5ug5xni8iVsEwcm5XOiHQ3NT6dAM1qgJ80q', N'Active    ', CAST(N'1953-01-09' AS Date), N'nJoEFJe5MN', CAST(N'2122-11-07' AS Date), CAST(N'1993-12-31' AS Date), CAST(N'1946-11-28' AS Date), CAST(3 AS Numeric(18, 0)), CAST(109 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(210 AS Numeric(18, 0)), N'z36m0DcYDmWB5JcM2Z1703zJxZ4katXlUGz7F93OV01Skq7pkx', N'Active    ', CAST(N'1900-05-09' AS Date), N'55f07PpYMp', CAST(N'2123-03-26' AS Date), CAST(N'2016-07-20' AS Date), CAST(N'2056-07-15' AS Date), CAST(9 AS Numeric(18, 0)), CAST(110 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(211 AS Numeric(18, 0)), N'G5Y0Iy3rq09G56zoucR09639HPw44PbJ73A2o4T46mz59g6G39', N'On Leave  ', CAST(N'1999-05-20' AS Date), N'a50ohVkagJ', CAST(N'2052-01-31' AS Date), CAST(N'1930-05-20' AS Date), CAST(N'1934-03-30' AS Date), CAST(6 AS Numeric(18, 0)), CAST(111 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(212 AS Numeric(18, 0)), N'ijTzJhX66vcr02xrO7xtrAj5Oc6Kt4Y32X2umy759yS31e2X7P', N'On Leave  ', CAST(N'1960-05-12' AS Date), N'93JGFC8Nz2', CAST(N'2145-02-13' AS Date), CAST(N'2179-03-20' AS Date), CAST(N'1947-11-28' AS Date), CAST(1 AS Numeric(18, 0)), CAST(112 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(213 AS Numeric(18, 0)), N'a9is3cZV5cn57X5dEEr15cSLliJ45X0eYKDQUrHUii1pk4hyQj', N'Terminated', CAST(N'2000-03-15' AS Date), N'83650tfQtQ', CAST(N'2132-12-01' AS Date), CAST(N'2080-01-01' AS Date), CAST(N'2047-04-21' AS Date), CAST(7 AS Numeric(18, 0)), CAST(113 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(214 AS Numeric(18, 0)), N'VbCRJREsRmD311GPtG5Z3e95p875Wg8N7vRkUE918pHVm3h0eZ', N'On Leave  ', CAST(N'2016-10-22' AS Date), N'8mdT7XWPiQ', CAST(N'2142-06-30' AS Date), CAST(N'2129-05-13' AS Date), CAST(N'1917-05-21' AS Date), CAST(7 AS Numeric(18, 0)), CAST(114 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(215 AS Numeric(18, 0)), N'GU7ZfVwW0GpHGCsdj1UktRT2uU9n39t15FD6y30S6A5BwSQKys', N'Inactive  ', CAST(N'1932-06-02' AS Date), N'q97X8aI1o3', CAST(N'2121-11-19' AS Date), CAST(N'2089-08-22' AS Date), CAST(N'2068-03-07' AS Date), CAST(11 AS Numeric(18, 0)), CAST(115 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(216 AS Numeric(18, 0)), N'tyNk7IcEA86i7P8e2VeQE009ohKy5KJ7DyylyGQgUgvUOj3a22', N'On Leave  ', CAST(N'2012-01-05' AS Date), N'euvUGXyd87', CAST(N'2170-12-20' AS Date), CAST(N'2024-10-28' AS Date), CAST(N'2009-01-20' AS Date), CAST(11 AS Numeric(18, 0)), CAST(116 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(217 AS Numeric(18, 0)), N'Jlm05MyD0N0ppEF52L8r1l5B3I41z9Glv96wVvnH7j5I3HSXVd', N'Inactive  ', CAST(N'1988-04-21' AS Date), N'PX31trM9GK', CAST(N'2180-09-06' AS Date), CAST(N'2175-09-23' AS Date), CAST(N'1953-07-01' AS Date), CAST(8 AS Numeric(18, 0)), CAST(117 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(218 AS Numeric(18, 0)), N'ejpc68wm2HDbJuTWfJCBmC5rNgTk27WrYAo7Y8w5Vf7FAkvAUC', N'Terminated', CAST(N'1927-12-06' AS Date), N'7zwnkcSt5m', CAST(N'1941-03-25' AS Date), CAST(N'2112-02-02' AS Date), CAST(N'2031-06-02' AS Date), CAST(10 AS Numeric(18, 0)), CAST(118 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(219 AS Numeric(18, 0)), N'WPw0SA1i0Np03Q3lsu0iIQh92mkneJdu82owJ6O1o4UxQM95w4', N'Terminated', CAST(N'1951-05-06' AS Date), N'9gL30R7MTh', CAST(N'2117-09-06' AS Date), CAST(N'1934-06-24' AS Date), CAST(N'2130-06-01' AS Date), CAST(5 AS Numeric(18, 0)), CAST(119 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(220 AS Numeric(18, 0)), N'XKgcJxDSZXrD7zV1tj2hn587K9NW436c7V7DzZ3V9A2aDr3KXS', N'On Leave  ', CAST(N'1965-08-03' AS Date), N'8To41zNP90', CAST(N'2170-02-17' AS Date), CAST(N'2001-02-06' AS Date), CAST(N'1929-07-26' AS Date), CAST(11 AS Numeric(18, 0)), CAST(120 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(221 AS Numeric(18, 0)), N'SZz0UZfJ4KSH99i0k7zfy92G2O6ejSrJr35ZZ38msK42VqJ1hr', N'Inactive  ', CAST(N'2006-05-16' AS Date), N'iRAoDT1eVw', CAST(N'2179-03-26' AS Date), CAST(N'2142-05-30' AS Date), CAST(N'2054-09-06' AS Date), CAST(12 AS Numeric(18, 0)), CAST(121 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(222 AS Numeric(18, 0)), N'55x6X5a3kUanUJ79qPxUv0JMo638l8ZYbddW9jE4QfkED167pO', N'Inactive  ', CAST(N'1902-11-10' AS Date), N'F3VTdia5AG', CAST(N'2163-12-19' AS Date), CAST(N'2029-10-22' AS Date), CAST(N'1911-09-06' AS Date), CAST(10 AS Numeric(18, 0)), CAST(122 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(223 AS Numeric(18, 0)), N'U13NMI5V997GK916B9r3xN0925Z3xE9S9hhICAwNEeyWdU1C2E', N'Inactive  ', CAST(N'1931-07-31' AS Date), N'i0C64YN5w6', CAST(N'2182-08-06' AS Date), CAST(N'2023-06-12' AS Date), CAST(N'1913-08-06' AS Date), CAST(3 AS Numeric(18, 0)), CAST(123 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(224 AS Numeric(18, 0)), N'NoutpRIrY3wX6k9HgZa1Kh38mDYTAPIg0enyXK9YfO57eB9RCx', N'On Leave  ', CAST(N'1944-09-10' AS Date), N'8F3p4ygN3q', CAST(N'2012-05-17' AS Date), CAST(N'2119-01-17' AS Date), CAST(N'2045-11-20' AS Date), CAST(10 AS Numeric(18, 0)), CAST(124 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(225 AS Numeric(18, 0)), N'vCvwwZjtY1O82M5T5M61fw6pk8O7r407j8eke642p2Q088RvMl', N'Active    ', CAST(N'1917-02-08' AS Date), N'83THfXJ422', CAST(N'1930-12-01' AS Date), CAST(N'2028-02-24' AS Date), CAST(N'2047-01-25' AS Date), CAST(9 AS Numeric(18, 0)), CAST(125 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(226 AS Numeric(18, 0)), N'4bw7cSarA3BEDMV9wMW3a780Z5L8XsWV21qVo61e8wds2WVAAW', N'On Leave  ', CAST(N'1913-12-18' AS Date), N'k499096yAH', CAST(N'2052-04-22' AS Date), CAST(N'1989-12-17' AS Date), CAST(N'1944-12-24' AS Date), CAST(9 AS Numeric(18, 0)), CAST(126 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(227 AS Numeric(18, 0)), N'O7pT6QOG3gqB6w62A58wp1Yfn1Cwkz8x6iGyu06e1oa796d20v', N'On Leave  ', CAST(N'2003-03-14' AS Date), N'7WDazO3EO9', CAST(N'2138-05-07' AS Date), CAST(N'1966-12-02' AS Date), CAST(N'1958-07-20' AS Date), CAST(7 AS Numeric(18, 0)), CAST(127 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(228 AS Numeric(18, 0)), N'914b0ZpoR19f751t0Ua9COCwqUL9V62kYflsSypn1C4VwwD4H5', N'On Leave  ', CAST(N'1990-06-03' AS Date), N'Ht2Vi2XIdo', CAST(N'2158-06-28' AS Date), CAST(N'2012-07-22' AS Date), CAST(N'2055-03-08' AS Date), CAST(8 AS Numeric(18, 0)), CAST(128 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(229 AS Numeric(18, 0)), N'5uUbU4OtLnWrd66tjEM73WmhY7ZM29Ek108QM9N31pdpW1j3k1', N'On Leave  ', CAST(N'1947-04-16' AS Date), N'e39mrkNTkt', CAST(N'1947-04-17' AS Date), CAST(N'2165-04-24' AS Date), CAST(N'1938-05-11' AS Date), CAST(9 AS Numeric(18, 0)), CAST(129 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(230 AS Numeric(18, 0)), N'ud38ZETCgit22XP0253iA3ckYy0J00Kt1JjD6tliVkBnxuAcRR', N'On Leave  ', CAST(N'1953-11-29' AS Date), N'DFbMOX0Ghp', CAST(N'2039-04-28' AS Date), CAST(N'2194-08-01' AS Date), CAST(N'1978-10-11' AS Date), CAST(11 AS Numeric(18, 0)), CAST(130 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(231 AS Numeric(18, 0)), N'8g5q54Td57hA3q0A54b4I5KK5cp376E8eU92eqGeEmX2vp7ofx', N'Active    ', CAST(N'1986-08-08' AS Date), N'40HSUfp212', CAST(N'1962-12-02' AS Date), CAST(N'1961-08-13' AS Date), CAST(N'2003-09-27' AS Date), CAST(2 AS Numeric(18, 0)), CAST(131 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(232 AS Numeric(18, 0)), N'0ys7nh5F9u7k4EHydljBMJhErJu61UKWs4g99rbOv42t2nqATf', N'Active    ', CAST(N'2009-06-13' AS Date), N'pTIjUylHp6', CAST(N'1983-07-20' AS Date), CAST(N'1983-11-20' AS Date), CAST(N'2029-08-24' AS Date), CAST(12 AS Numeric(18, 0)), CAST(132 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(233 AS Numeric(18, 0)), N'823B8g6YIvpsFkHhgt2YvFJ0D6JGd025eutp13in92qMDELJst', N'Terminated', CAST(N'1990-10-03' AS Date), N'Fc51BeOJ2a', CAST(N'2016-06-15' AS Date), CAST(N'1942-07-25' AS Date), CAST(N'2062-06-18' AS Date), CAST(12 AS Numeric(18, 0)), CAST(133 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(234 AS Numeric(18, 0)), N'T74805126fD880z11U82qc9VfECy2xfmof5MMzbwcn1LH8C057', N'Inactive  ', CAST(N'1904-04-01' AS Date), N'905Plgwn7R', CAST(N'2034-08-13' AS Date), CAST(N'2059-10-13' AS Date), CAST(N'2031-04-03' AS Date), CAST(7 AS Numeric(18, 0)), CAST(134 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(235 AS Numeric(18, 0)), N'6sAq9pZOnvxF8o6F6JPA7qmWSndeM8Mgeo2sVDp5wW205atAe2', N'Terminated', CAST(N'1994-07-18' AS Date), N'DwH3dtUK8n', CAST(N'2167-01-31' AS Date), CAST(N'2085-05-09' AS Date), CAST(N'1988-09-11' AS Date), CAST(4 AS Numeric(18, 0)), CAST(135 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(236 AS Numeric(18, 0)), N'3OXzu11rrg7bO58UBRZ6wMG9H216eM80XCzL3e5XAy3v41jFo1', N'Inactive  ', CAST(N'1939-06-17' AS Date), N'wdj0zah230', CAST(N'2191-09-11' AS Date), CAST(N'1984-05-29' AS Date), CAST(N'2123-07-27' AS Date), CAST(3 AS Numeric(18, 0)), CAST(136 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(237 AS Numeric(18, 0)), N'U37tYNc5kt1h2k3TA40H3zU8Yib56zhx1RiQ1x5Axm78UpUqbu', N'Terminated', CAST(N'1952-06-08' AS Date), N'J2Nb9Wbo6P', CAST(N'1951-05-19' AS Date), CAST(N'2062-05-18' AS Date), CAST(N'2017-09-11' AS Date), CAST(4 AS Numeric(18, 0)), CAST(137 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(238 AS Numeric(18, 0)), N'W1L79U1a1R04Q9ukCLB38ZNE879N9ykcXuy6fDJkvBY3Ly9SL9', N'Active    ', CAST(N'1975-05-07' AS Date), N'Dv1h069YyM', CAST(N'1961-06-07' AS Date), CAST(N'2144-08-16' AS Date), CAST(N'2013-06-16' AS Date), CAST(11 AS Numeric(18, 0)), CAST(138 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(239 AS Numeric(18, 0)), N'q17glDLmw7p2I7cfx06Mb6qNhnp0HWJVtE40ngukJBZGJ7ILk8', N'On Leave  ', CAST(N'1993-01-30' AS Date), N'QdZT9bsVQy', CAST(N'2028-12-26' AS Date), CAST(N'2035-11-03' AS Date), CAST(N'2118-03-18' AS Date), CAST(5 AS Numeric(18, 0)), CAST(139 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(240 AS Numeric(18, 0)), N'Ff58cQ66u7yI8AQa3x2vTMpimrF7oD19B2e6H4516SFShRubRP', N'Terminated', CAST(N'2018-02-27' AS Date), N'1v4aFEFEiq', CAST(N'2109-10-22' AS Date), CAST(N'2156-11-21' AS Date), CAST(N'2119-06-11' AS Date), CAST(1 AS Numeric(18, 0)), CAST(140 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(241 AS Numeric(18, 0)), N'k0JHBG745va48D5Etk4y0vKN68mmPV6bt55BkZ7m6vKK8tyvHV', N'Terminated', CAST(N'1977-10-27' AS Date), N'd659qFuFte', CAST(N'2006-08-04' AS Date), CAST(N'2068-06-30' AS Date), CAST(N'2163-12-12' AS Date), CAST(7 AS Numeric(18, 0)), CAST(141 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(242 AS Numeric(18, 0)), N'bZ54ZYPZk543ulcdU4Bi67s5uQRzqbGtc3XYa1r2y4U9EnMZEU', N'Terminated', CAST(N'1958-08-10' AS Date), N'js18m8Yh00', CAST(N'2049-09-09' AS Date), CAST(N'2065-08-01' AS Date), CAST(N'2079-09-02' AS Date), CAST(2 AS Numeric(18, 0)), CAST(142 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(243 AS Numeric(18, 0)), N'xID7hfe5Nc4dtz4ndxRG612dQ6vsoB10usrW7YFvE9o7iE93ss', N'Inactive  ', CAST(N'1908-12-18' AS Date), N'ecW6v2jz38', CAST(N'1989-03-27' AS Date), CAST(N'1902-01-09' AS Date), CAST(N'2051-01-03' AS Date), CAST(12 AS Numeric(18, 0)), CAST(143 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(244 AS Numeric(18, 0)), N'35We10FhDbCNgw7832yWOmc6tD78cZ8Pu9V09s7MIud1S12bqp', N'Terminated', CAST(N'1949-02-05' AS Date), N'61SEBid2pn', CAST(N'2182-05-09' AS Date), CAST(N'1924-03-28' AS Date), CAST(N'2115-04-21' AS Date), CAST(5 AS Numeric(18, 0)), CAST(144 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(245 AS Numeric(18, 0)), N'NDUvhnww1d68I8CLO6Sc5xefdbc5mL4rSq6XcDPEbkzv984WOI', N'On Leave  ', CAST(N'1992-10-20' AS Date), N'ADTkv0dtP0', CAST(N'1921-10-25' AS Date), CAST(N'2043-03-06' AS Date), CAST(N'1975-04-28' AS Date), CAST(1 AS Numeric(18, 0)), CAST(145 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(246 AS Numeric(18, 0)), N'l2MVImQoUAs83pJU3I4Wr2oHn7c9zjZh4u2hhMMgu8uEB111O5', N'Active    ', CAST(N'1972-09-08' AS Date), N'24ZE7QNXlE', CAST(N'1934-12-23' AS Date), CAST(N'2059-08-01' AS Date), CAST(N'1976-06-19' AS Date), CAST(10 AS Numeric(18, 0)), CAST(146 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(247 AS Numeric(18, 0)), N'Bgt5N1R5zyLYjLJOksfP5x853AD323pGpAQ758VNr1cK1cc838', N'Terminated', CAST(N'1999-04-20' AS Date), N'65Og2b1tz9', CAST(N'2177-10-06' AS Date), CAST(N'1961-11-05' AS Date), CAST(N'2086-01-28' AS Date), CAST(6 AS Numeric(18, 0)), CAST(147 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(248 AS Numeric(18, 0)), N'Zq5pyGHhbdzqq4h95L7fSB1OVVZ55GOpgDLhN78q9erXB43w7z', N'Active    ', CAST(N'1976-03-04' AS Date), N'94eFMJzcMt', CAST(N'2007-10-10' AS Date), CAST(N'2118-01-08' AS Date), CAST(N'1975-12-11' AS Date), CAST(5 AS Numeric(18, 0)), CAST(148 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(249 AS Numeric(18, 0)), N'CILxu2Rw82YNqw3Umwy09r8VlpoVJXyqdr38QU96y396VF0K63', N'Active    ', CAST(N'1996-09-14' AS Date), N'777DG4ASV3', CAST(N'1966-06-27' AS Date), CAST(N'1951-01-04' AS Date), CAST(N'2037-07-19' AS Date), CAST(12 AS Numeric(18, 0)), CAST(149 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(250 AS Numeric(18, 0)), N'o3WH12E4v64be2E28X1d5E2wu01j05uI9xd30ap7C8kVLkU9cl', N'Terminated', CAST(N'1911-07-04' AS Date), N'nMgKePTVgi', CAST(N'1914-07-26' AS Date), CAST(N'2118-06-19' AS Date), CAST(N'2028-09-11' AS Date), CAST(8 AS Numeric(18, 0)), CAST(100 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(251 AS Numeric(18, 0)), N'06vhwXhWs46XBtB7Bx0l3V12fH28T3EDmVgQsdgEHL0qP3h6z7', N'Terminated', CAST(N'2018-02-17' AS Date), N'5r0r40Vzb1', CAST(N'1983-05-31' AS Date), CAST(N'2056-10-16' AS Date), CAST(N'2079-10-11' AS Date), CAST(9 AS Numeric(18, 0)), CAST(101 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(252 AS Numeric(18, 0)), N'2EI1661Z4mSgmPQu6344J9O7rSWC5Jcx38nYv9C8m3bNYhs0q5', N'Active    ', CAST(N'1976-09-27' AS Date), N'TpZNzXC317', CAST(N'1951-09-25' AS Date), CAST(N'2192-05-22' AS Date), CAST(N'2128-01-10' AS Date), CAST(10 AS Numeric(18, 0)), CAST(102 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(253 AS Numeric(18, 0)), N'XG625I1lH1oi9K2ov31DrW022WUUwsQ5R9oV093dYb03JdpB4n', N'Active    ', CAST(N'1956-02-10' AS Date), N'O99Jb7xta5', CAST(N'1957-04-30' AS Date), CAST(N'2018-06-06' AS Date), CAST(N'1957-10-09' AS Date), CAST(5 AS Numeric(18, 0)), CAST(103 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(254 AS Numeric(18, 0)), N'o5NVVKKr537YRVFe8R2PjL1hCt3fdF6UiPc5qH8646E85x733g', N'Inactive  ', CAST(N'1986-02-09' AS Date), N'PFl1626g07', CAST(N'1932-04-12' AS Date), CAST(N'2016-05-19' AS Date), CAST(N'2177-01-08' AS Date), CAST(9 AS Numeric(18, 0)), CAST(104 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(255 AS Numeric(18, 0)), N'9Me4PT0epORrU9J7B3JJkc1045305kvVPdzKDMpe9wK0nXaamI', N'Terminated', CAST(N'1924-05-02' AS Date), N'Pa441Ht8NI', CAST(N'2178-09-30' AS Date), CAST(N'1992-11-12' AS Date), CAST(N'2140-09-22' AS Date), CAST(11 AS Numeric(18, 0)), CAST(105 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(256 AS Numeric(18, 0)), N'3petaIaO7V4bn5rGWg73P8yqndQr98KJ96fMUJFmLkG4NVBa9T', N'On Leave  ', CAST(N'1955-07-14' AS Date), N't78bU2tDHs', CAST(N'2162-05-01' AS Date), CAST(N'2161-01-16' AS Date), CAST(N'1985-09-29' AS Date), CAST(7 AS Numeric(18, 0)), CAST(106 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(257 AS Numeric(18, 0)), N'gl9cERMVECfAhk1WxswNPx4lfBDi2U9d8Rj36N06C7KrKjOlWE', N'Terminated', CAST(N'1986-09-25' AS Date), N'3s7L61A6uP', CAST(N'1916-03-16' AS Date), CAST(N'2085-12-30' AS Date), CAST(N'2067-02-10' AS Date), CAST(6 AS Numeric(18, 0)), CAST(107 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(258 AS Numeric(18, 0)), N'd5HjPtsZYg68n6ja28OdU6h3C6y3X1UU4b3SpJ0YuF5UAK1dyz', N'Terminated', CAST(N'1915-11-04' AS Date), N'2500o2Vi6m', CAST(N'1908-04-18' AS Date), CAST(N'1983-01-03' AS Date), CAST(N'2061-01-23' AS Date), CAST(9 AS Numeric(18, 0)), CAST(108 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(259 AS Numeric(18, 0)), N'gw3xtbXA1KtNiFj36vf5w81gh84ryaZE2nktFp9p2di2G9scdT', N'Active    ', CAST(N'1991-09-08' AS Date), N'J2N8u1r3p2', CAST(N'1953-09-05' AS Date), CAST(N'2179-06-30' AS Date), CAST(N'1972-12-08' AS Date), CAST(8 AS Numeric(18, 0)), CAST(109 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(260 AS Numeric(18, 0)), N'384OLRM9qiF61s2WpRs4WGH8rlkm21MC4ggrceXWMM7dC1Z1lb', N'Active    ', CAST(N'1987-01-04' AS Date), N'H20hnmKlz5', CAST(N'2093-10-02' AS Date), CAST(N'2197-05-04' AS Date), CAST(N'2134-10-14' AS Date), CAST(1 AS Numeric(18, 0)), CAST(110 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(261 AS Numeric(18, 0)), N'uNJ527fsnreKuZd8Rs6nUmK1LgR89t48TSXdIKEcBiGHb4I3aE', N'Terminated', CAST(N'1971-10-19' AS Date), N'I4da5R7530', CAST(N'1976-03-26' AS Date), CAST(N'2115-06-20' AS Date), CAST(N'2041-06-16' AS Date), CAST(2 AS Numeric(18, 0)), CAST(111 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(262 AS Numeric(18, 0)), N'n3YcvmC0UO10c9970dTp90oTt1g0DdZ4R4JZ8wj5u158HLYpj5', N'On Leave  ', CAST(N'1948-11-26' AS Date), N'1o00zW9j89', CAST(N'2013-03-23' AS Date), CAST(N'1928-11-28' AS Date), CAST(N'1982-07-13' AS Date), CAST(4 AS Numeric(18, 0)), CAST(112 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(263 AS Numeric(18, 0)), N'6w9NC3peC8Dx61jKDfzNyjjk5q68C22jX2uj61e4WW705q34Vs', N'Active    ', CAST(N'1962-02-10' AS Date), N'xy0s9W5EGx', CAST(N'1964-07-11' AS Date), CAST(N'2046-01-12' AS Date), CAST(N'2097-06-20' AS Date), CAST(9 AS Numeric(18, 0)), CAST(113 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(264 AS Numeric(18, 0)), N'h8rM3z9qmz194sk2jE5X1vs0rAmMkv3KW82V20o1JbG36yPl0V', N'Active    ', CAST(N'1979-10-21' AS Date), N'C0N69JVECC', CAST(N'1908-04-09' AS Date), CAST(N'1920-09-16' AS Date), CAST(N'2081-08-29' AS Date), CAST(1 AS Numeric(18, 0)), CAST(114 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(265 AS Numeric(18, 0)), N'2H3177M5NJu6j2D2E4R3ne9U117G65W12IMOXvRZ5t0p8x0LEr', N'On Leave  ', CAST(N'1976-06-27' AS Date), N'8ir1JPp5k4', CAST(N'2088-07-21' AS Date), CAST(N'1951-05-23' AS Date), CAST(N'2148-07-19' AS Date), CAST(5 AS Numeric(18, 0)), CAST(115 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(266 AS Numeric(18, 0)), N'phvFK5ULOj03Q0il8otYHqbxqXnQP6XQBx9XtR93Ozqpp1aSF1', N'Terminated', CAST(N'2003-04-15' AS Date), N'N7OLA88l4Z', CAST(N'2118-03-05' AS Date), CAST(N'1906-06-06' AS Date), CAST(N'1919-09-17' AS Date), CAST(3 AS Numeric(18, 0)), CAST(116 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(267 AS Numeric(18, 0)), N'BuHS8SMnwne05N5e7ka54X66rh9z5UF8IzkOb9E21G1Ut7hf88', N'Inactive  ', CAST(N'1986-12-20' AS Date), N'exlRrMHO8u', CAST(N'1905-09-21' AS Date), CAST(N'2166-07-24' AS Date), CAST(N'2106-11-06' AS Date), CAST(5 AS Numeric(18, 0)), CAST(117 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(268 AS Numeric(18, 0)), N'YUlogX044468KZ4ceSg5gkwYCenAwpLHeZT943DdzPD5r14y4u', N'On Leave  ', CAST(N'1930-09-20' AS Date), N'e5jVd0XDct', CAST(N'2061-10-19' AS Date), CAST(N'2153-02-27' AS Date), CAST(N'2160-02-28' AS Date), CAST(12 AS Numeric(18, 0)), CAST(118 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(269 AS Numeric(18, 0)), N'BNIOmdcXS3pMeey4eUhi5nl4ZngS1L6lA4Ws5f7gpulI0uQQpC', N'Inactive  ', CAST(N'1992-10-23' AS Date), N'Df0b23tuv2', CAST(N'2045-08-21' AS Date), CAST(N'2021-05-11' AS Date), CAST(N'2017-06-22' AS Date), CAST(9 AS Numeric(18, 0)), CAST(119 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(270 AS Numeric(18, 0)), N'75tz2hhSAHtM8Ew25426rAiQ3Zp1M6EAu3Fbl2M5Sx4p4cw52H', N'Active    ', CAST(N'1999-08-08' AS Date), N'GwvU843nUx', CAST(N'1947-06-25' AS Date), CAST(N'2117-05-15' AS Date), CAST(N'2100-10-15' AS Date), CAST(12 AS Numeric(18, 0)), CAST(120 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(271 AS Numeric(18, 0)), N'zshchBAN2qOucZl46180ejao3GK49UidC1epqj16f1aDyt7oD6', N'Terminated', CAST(N'1928-10-18' AS Date), N'PgDG8HbFC9', CAST(N'2142-03-14' AS Date), CAST(N'1925-09-26' AS Date), CAST(N'2102-03-18' AS Date), CAST(2 AS Numeric(18, 0)), CAST(121 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(272 AS Numeric(18, 0)), N'YaTYbcn46nBAiCsEhd7zhDPfIXpf14ZnUg1X6HIJprun5G7nGq', N'Terminated', CAST(N'1917-04-20' AS Date), N'c9LA6pwdGg', CAST(N'1927-12-02' AS Date), CAST(N'1939-09-21' AS Date), CAST(N'1965-02-28' AS Date), CAST(9 AS Numeric(18, 0)), CAST(122 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(273 AS Numeric(18, 0)), N'o47CjbG5Ml9z6jd5fF386lc5e75GG0dwo41gLufEJ9LBq2nXJ2', N'Inactive  ', CAST(N'1958-01-03' AS Date), N'N3w746qH9Z', CAST(N'2059-12-28' AS Date), CAST(N'1991-08-02' AS Date), CAST(N'2142-02-19' AS Date), CAST(12 AS Numeric(18, 0)), CAST(123 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(274 AS Numeric(18, 0)), N'vvr7ny8w226GJh5LXmW43L142it2zJ4XFDF47D8iAl1V25720Y', N'Active    ', CAST(N'1985-06-13' AS Date), N'Qtc49S08xB', CAST(N'1965-01-14' AS Date), CAST(N'1928-12-29' AS Date), CAST(N'1930-02-16' AS Date), CAST(12 AS Numeric(18, 0)), CAST(124 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(275 AS Numeric(18, 0)), N'YPjm4k219kftHHTn43Yi4rhK72OW8n3jDVo9tqdcZaib6SHl9o', N'Active    ', CAST(N'1975-07-08' AS Date), N'T0Jq3w9gVe', CAST(N'2068-06-16' AS Date), CAST(N'2125-05-01' AS Date), CAST(N'2169-09-25' AS Date), CAST(9 AS Numeric(18, 0)), CAST(125 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(276 AS Numeric(18, 0)), N'F26Rlhxu2g6k6N66Sn813OJ6UAfk8FmnY79uTOinTwsF29fi5O', N'Inactive  ', CAST(N'2015-09-01' AS Date), N'Vc96vPg0NK', CAST(N'2168-10-29' AS Date), CAST(N'2092-06-09' AS Date), CAST(N'2031-01-25' AS Date), CAST(4 AS Numeric(18, 0)), CAST(126 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(277 AS Numeric(18, 0)), N'1wkb5293YC6Yuxy9y2mh1w27JsrC0DPbK0Erkl4JA4rWVt15Fz', N'Terminated', CAST(N'1926-11-02' AS Date), N'429QEyuPrJ', CAST(N'2176-04-18' AS Date), CAST(N'2137-10-13' AS Date), CAST(N'1971-08-30' AS Date), CAST(7 AS Numeric(18, 0)), CAST(127 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(278 AS Numeric(18, 0)), N'qdik8aLsKrooRiQ73N8BjOEdNfL64FuL506RwHFgI1QlGiO3N9', N'Terminated', CAST(N'1973-08-04' AS Date), N'0Qa3uuYK9y', CAST(N'2033-11-20' AS Date), CAST(N'1913-07-22' AS Date), CAST(N'1978-09-04' AS Date), CAST(10 AS Numeric(18, 0)), CAST(128 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(279 AS Numeric(18, 0)), N'773xeReqic198KT8CYHP453DEXi86A5wAZ5N5Q08UJ27o51YsY', N'On Leave  ', CAST(N'1903-04-27' AS Date), N'LE5uLaO7N8', CAST(N'2100-07-14' AS Date), CAST(N'2095-11-21' AS Date), CAST(N'1960-05-31' AS Date), CAST(5 AS Numeric(18, 0)), CAST(129 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(280 AS Numeric(18, 0)), N'F00O1Zi3auTCq1o2QhI7cTcCrZA8B99Q7svcQ1k7O8evV476dD', N'Active    ', CAST(N'2006-03-15' AS Date), N'8EgMt408Ec', CAST(N'2139-01-06' AS Date), CAST(N'2066-03-30' AS Date), CAST(N'2115-10-28' AS Date), CAST(5 AS Numeric(18, 0)), CAST(130 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(281 AS Numeric(18, 0)), N'q0v8EL59HeEbnhVs2r54HhiosY75HslECC18bov1Hjb6K8JJ9H', N'Inactive  ', CAST(N'1947-12-05' AS Date), N'7YQUbO8Ryt', CAST(N'1919-07-27' AS Date), CAST(N'1937-01-28' AS Date), CAST(N'1953-12-17' AS Date), CAST(11 AS Numeric(18, 0)), CAST(131 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(282 AS Numeric(18, 0)), N'G59QYjDU0JkIknFl0833n09gk6E3kMVlbp07S220Nd1O5q3YSw', N'Active    ', CAST(N'2015-12-12' AS Date), N'vPNj625483', CAST(N'2126-06-09' AS Date), CAST(N'2172-08-17' AS Date), CAST(N'2064-04-03' AS Date), CAST(8 AS Numeric(18, 0)), CAST(132 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(283 AS Numeric(18, 0)), N'8We74rD52MtoQS1j9GO0KtD31p3o401wF35kCSLQ265TD442zG', N'Inactive  ', CAST(N'1953-11-02' AS Date), N't3l1zY537u', CAST(N'1905-08-30' AS Date), CAST(N'2194-09-01' AS Date), CAST(N'2093-03-21' AS Date), CAST(6 AS Numeric(18, 0)), CAST(133 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(284 AS Numeric(18, 0)), N'2K61Zz1613bFZoeEDnJL6OQJX512raY5492b32EnGYb4qM1Ns9', N'Inactive  ', CAST(N'1964-04-30' AS Date), N'4c6Qa0000C', CAST(N'1977-07-27' AS Date), CAST(N'2138-11-30' AS Date), CAST(N'1936-12-30' AS Date), CAST(11 AS Numeric(18, 0)), CAST(134 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(285 AS Numeric(18, 0)), N'aMeb4h9gfCFw0315LmnkRZKY8T48O6vSLwy6XA5ukD82S9cpKa', N'Active    ', CAST(N'1932-02-04' AS Date), N'24wm6uk7bo', CAST(N'2010-04-20' AS Date), CAST(N'2191-08-01' AS Date), CAST(N'2043-02-16' AS Date), CAST(4 AS Numeric(18, 0)), CAST(135 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(286 AS Numeric(18, 0)), N'50d4mFj8ohY7oMUfU2L9QPEudHCJ7rA99d6Cg0C8x5h42nCP5Q', N'Terminated', CAST(N'1965-09-25' AS Date), N'877YO4AuJ1', CAST(N'2171-03-24' AS Date), CAST(N'1993-06-14' AS Date), CAST(N'2129-07-19' AS Date), CAST(8 AS Numeric(18, 0)), CAST(136 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(287 AS Numeric(18, 0)), N'OjeYdH9G0p80r56tH4kykDEjZ46K0F6yQD201CQiqBEbk4i0P9', N'Terminated', CAST(N'2008-04-11' AS Date), N's2ZRNXd0Tc', CAST(N'2117-02-03' AS Date), CAST(N'2136-02-13' AS Date), CAST(N'2181-04-17' AS Date), CAST(11 AS Numeric(18, 0)), CAST(137 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(288 AS Numeric(18, 0)), N'3I21Fu664i7H8Sgx0d247fGGD0Zr8kh3WC9BFneYifufcjN6Qy', N'On Leave  ', CAST(N'1993-03-26' AS Date), N'Unc6s64TO5', CAST(N'2023-11-12' AS Date), CAST(N'2059-02-24' AS Date), CAST(N'2055-06-03' AS Date), CAST(4 AS Numeric(18, 0)), CAST(138 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(289 AS Numeric(18, 0)), N'rajEi3leA361mZZONAH0pZBrLoQWDQ79z90S1L9ERSsYvC5Kzm', N'Terminated', CAST(N'1919-07-31' AS Date), N'Vd7yAD85lX', CAST(N'1969-10-08' AS Date), CAST(N'2189-09-15' AS Date), CAST(N'1981-10-16' AS Date), CAST(4 AS Numeric(18, 0)), CAST(139 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(290 AS Numeric(18, 0)), N'tj9MGOQawXmPHuEUkpHC21mG15U6n1T73CTV4R4Brwg7FikZfh', N'Terminated', CAST(N'1999-07-18' AS Date), N'FW5FPd3J4H', CAST(N'2047-07-16' AS Date), CAST(N'1925-08-26' AS Date), CAST(N'2083-03-12' AS Date), CAST(8 AS Numeric(18, 0)), CAST(140 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(291 AS Numeric(18, 0)), N'Qp3QFmQfFnIXs1Bbc9tXPLt75b871E2hDGpP5SPL9j6F4kROM8', N'On Leave  ', CAST(N'2008-05-24' AS Date), N'UwdXrm0sZW', CAST(N'2111-02-21' AS Date), CAST(N'2135-02-23' AS Date), CAST(N'1987-03-14' AS Date), CAST(5 AS Numeric(18, 0)), CAST(141 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(292 AS Numeric(18, 0)), N'9hH6h9csCLc8qo3947o30n7TRGu2G38adjzSFT1V26V3GX0B3L', N'Active    ', CAST(N'2004-06-16' AS Date), N'kJtaR019nq', CAST(N'1914-01-03' AS Date), CAST(N'2153-10-14' AS Date), CAST(N'2038-11-01' AS Date), CAST(12 AS Numeric(18, 0)), CAST(142 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(293 AS Numeric(18, 0)), N'2ZJq9lFQ2vz881GTQ0Wfi4Y8elj3a4X3C68hDxKt8YPB9XlU5s', N'Inactive  ', CAST(N'1946-05-31' AS Date), N'n3L11Ju28a', CAST(N'2071-07-18' AS Date), CAST(N'1911-09-16' AS Date), CAST(N'1919-01-11' AS Date), CAST(8 AS Numeric(18, 0)), CAST(143 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(294 AS Numeric(18, 0)), N'gR8e50iv7Nx9hT7U8aS5KISLBM5uGo326rp78KKtK1o4lvhKkc', N'Terminated', CAST(N'1933-08-09' AS Date), N'KykAs2rxfP', CAST(N'2062-01-27' AS Date), CAST(N'1917-08-07' AS Date), CAST(N'2157-05-28' AS Date), CAST(7 AS Numeric(18, 0)), CAST(144 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(295 AS Numeric(18, 0)), N'B84H6p5V4LY5dGF1Zr01c7GmKkR55oBM29KC84XP2lSjUN2CiQ', N'Terminated', CAST(N'1922-03-15' AS Date), N'MAqX2nle28', CAST(N'1924-07-05' AS Date), CAST(N'2067-04-29' AS Date), CAST(N'1979-02-27' AS Date), CAST(3 AS Numeric(18, 0)), CAST(145 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(296 AS Numeric(18, 0)), N'eqBjZid221B1m2sDsP11MjbOhcJ4LY235j68Z443FE4kW26J90', N'On Leave  ', CAST(N'1983-05-14' AS Date), N'4iEZADtmHc', CAST(N'2151-12-06' AS Date), CAST(N'2155-03-25' AS Date), CAST(N'2109-08-06' AS Date), CAST(7 AS Numeric(18, 0)), CAST(146 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(297 AS Numeric(18, 0)), N'kiF061wNpnhOcz9E8PGLxmQlzE5690sTM3XUx9wguC13dcjZ0W', N'On Leave  ', CAST(N'1975-06-11' AS Date), N'ie4FghkINk', CAST(N'2104-11-09' AS Date), CAST(N'2049-06-13' AS Date), CAST(N'1907-06-10' AS Date), CAST(3 AS Numeric(18, 0)), CAST(147 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(298 AS Numeric(18, 0)), N'd8wX1yuS5md02rj0k6t9nBbna9q6l28WrgfTCSEBTQzioK08X2', N'Active    ', CAST(N'1963-06-14' AS Date), N'PmU1Rgq5b3', CAST(N'2160-07-01' AS Date), CAST(N'2012-10-04' AS Date), CAST(N'2130-08-05' AS Date), CAST(5 AS Numeric(18, 0)), CAST(148 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(299 AS Numeric(18, 0)), N'8n8AxBB2kWto2V83nxVMVCw7J9We1Jnd4c7n7d428T54ALBFcr', N'Terminated', CAST(N'2000-11-02' AS Date), N'46lOkrS98z', CAST(N'2132-01-22' AS Date), CAST(N'1932-05-01' AS Date), CAST(N'2181-01-28' AS Date), CAST(8 AS Numeric(18, 0)), CAST(149 AS Numeric(18, 0)))
GO

In [0]:
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(300 AS Numeric(18, 0)), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(200 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(301 AS Numeric(18, 0)), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(301 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(304 AS Numeric(18, 0)), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(1234 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(500 AS Numeric(18, 0)), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(1234456 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(2345 AS Numeric(18, 0)), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(312512 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(3045 AS Numeric(18, 0)), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(12345 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) VALUES (CAST(9999 AS Numeric(18, 0)), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(9999 AS Numeric(18, 0)))
GO

# [dbo].[EMPLOYMENT_WORKING_TIME]

In [0]:
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(19268050427132535 AS Numeric(18, 0)), CAST(214 AS Numeric(18, 0)), CAST(N'1996-02-19' AS Date), CAST(6 AS Numeric(2, 0)), CAST(6 AS Numeric(2, 0)), CAST(12 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(30078776600690035 AS Numeric(18, 0)), CAST(249 AS Numeric(18, 0)), CAST(N'1987-06-06' AS Date), CAST(9 AS Numeric(2, 0)), CAST(9 AS Numeric(2, 0)), CAST(4 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(71356362504922710 AS Numeric(18, 0)), CAST(233 AS Numeric(18, 0)), CAST(N'2001-03-16' AS Date), CAST(1 AS Numeric(2, 0)), CAST(4 AS Numeric(2, 0)), CAST(9 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(81597706478193798 AS Numeric(18, 0)), CAST(259 AS Numeric(18, 0)), CAST(N'1908-08-06' AS Date), CAST(1 AS Numeric(2, 0)), CAST(1 AS Numeric(2, 0)), CAST(7 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(83546251458238227 AS Numeric(18, 0)), CAST(244 AS Numeric(18, 0)), CAST(N'1909-09-15' AS Date), CAST(2 AS Numeric(2, 0)), CAST(9 AS Numeric(2, 0)), CAST(2 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(85051810045297965 AS Numeric(18, 0)), CAST(250 AS Numeric(18, 0)), CAST(N'1995-09-29' AS Date), CAST(3 AS Numeric(2, 0)), CAST(4 AS Numeric(2, 0)), CAST(5 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(103594835456969051 AS Numeric(18, 0)), CAST(264 AS Numeric(18, 0)), CAST(N'2023-01-11' AS Date), CAST(4 AS Numeric(2, 0)), CAST(2 AS Numeric(2, 0)), CAST(11 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(113250476174112295 AS Numeric(18, 0)), CAST(253 AS Numeric(18, 0)), CAST(N'1936-06-23' AS Date), CAST(6 AS Numeric(2, 0)), CAST(1 AS Numeric(2, 0)), CAST(1 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(113583549039603130 AS Numeric(18, 0)), CAST(279 AS Numeric(18, 0)), CAST(N'1900-04-14' AS Date), CAST(3 AS Numeric(2, 0)), CAST(9 AS Numeric(2, 0)), CAST(4 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(113734287487156439 AS Numeric(18, 0)), CAST(268 AS Numeric(18, 0)), CAST(N'2002-05-24' AS Date), CAST(5 AS Numeric(2, 0)), CAST(12 AS Numeric(2, 0)), CAST(3 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(114424934220192791 AS Numeric(18, 0)), CAST(281 AS Numeric(18, 0)), CAST(N'1947-08-12' AS Date), CAST(12 AS Numeric(2, 0)), CAST(9 AS Numeric(2, 0)), CAST(9 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(134287886528605320 AS Numeric(18, 0)), CAST(290 AS Numeric(18, 0)), CAST(N'1925-07-25' AS Date), CAST(5 AS Numeric(2, 0)), CAST(3 AS Numeric(2, 0)), CAST(1 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(135746079630996150 AS Numeric(18, 0)), CAST(212 AS Numeric(18, 0)), CAST(N'1902-09-08' AS Date), CAST(4 AS Numeric(2, 0)), CAST(7 AS Numeric(2, 0)), CAST(4 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(172701534223929184 AS Numeric(18, 0)), CAST(254 AS Numeric(18, 0)), CAST(N'1960-12-20' AS Date), CAST(3 AS Numeric(2, 0)), CAST(6 AS Numeric(2, 0)), CAST(10 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(233294255323443098 AS Numeric(18, 0)), CAST(217 AS Numeric(18, 0)), CAST(N'1923-04-07' AS Date), CAST(9 AS Numeric(2, 0)), CAST(3 AS Numeric(2, 0)), CAST(2 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(238546264115123932 AS Numeric(18, 0)), CAST(251 AS Numeric(18, 0)), CAST(N'1902-07-02' AS Date), CAST(8 AS Numeric(2, 0)), CAST(6 AS Numeric(2, 0)), CAST(3 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(250492692499906167 AS Numeric(18, 0)), CAST(284 AS Numeric(18, 0)), CAST(N'1907-02-12' AS Date), CAST(4 AS Numeric(2, 0)), CAST(9 AS Numeric(2, 0)), CAST(11 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(253219607469155175 AS Numeric(18, 0)), CAST(292 AS Numeric(18, 0)), CAST(N'1954-09-09' AS Date), CAST(10 AS Numeric(2, 0)), CAST(7 AS Numeric(2, 0)), CAST(6 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(277831418192089995 AS Numeric(18, 0)), CAST(225 AS Numeric(18, 0)), CAST(N'1911-06-19' AS Date), CAST(9 AS Numeric(2, 0)), CAST(8 AS Numeric(2, 0)), CAST(6 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(279274203608140928 AS Numeric(18, 0)), CAST(261 AS Numeric(18, 0)), CAST(N'1981-06-22' AS Date), CAST(7 AS Numeric(2, 0)), CAST(4 AS Numeric(2, 0)), CAST(9 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(286337245643916982 AS Numeric(18, 0)), CAST(213 AS Numeric(18, 0)), CAST(N'2023-05-17' AS Date), CAST(3 AS Numeric(2, 0)), CAST(5 AS Numeric(2, 0)), CAST(2 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(296206375514176836 AS Numeric(18, 0)), CAST(201 AS Numeric(18, 0)), CAST(N'1977-01-24' AS Date), CAST(11 AS Numeric(2, 0)), CAST(8 AS Numeric(2, 0)), CAST(10 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(298795549540704623 AS Numeric(18, 0)), CAST(202 AS Numeric(18, 0)), CAST(N'2013-06-01' AS Date), CAST(12 AS Numeric(2, 0)), CAST(9 AS Numeric(2, 0)), CAST(9 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(300014006549780075 AS Numeric(18, 0)), CAST(271 AS Numeric(18, 0)), CAST(N'1999-12-08' AS Date), CAST(1 AS Numeric(2, 0)), CAST(9 AS Numeric(2, 0)), CAST(2 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(307154236191738184 AS Numeric(18, 0)), CAST(223 AS Numeric(18, 0)), CAST(N'1953-01-28' AS Date), CAST(3 AS Numeric(2, 0)), CAST(8 AS Numeric(2, 0)), CAST(12 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(341148231063230474 AS Numeric(18, 0)), CAST(220 AS Numeric(18, 0)), CAST(N'1912-12-08' AS Date), CAST(9 AS Numeric(2, 0)), CAST(11 AS Numeric(2, 0)), CAST(12 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(353384237462846451 AS Numeric(18, 0)), CAST(206 AS Numeric(18, 0)), CAST(N'1968-02-22' AS Date), CAST(4 AS Numeric(2, 0)), CAST(9 AS Numeric(2, 0)), CAST(3 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(358590860176644169 AS Numeric(18, 0)), CAST(260 AS Numeric(18, 0)), CAST(N'1952-09-03' AS Date), CAST(6 AS Numeric(2, 0)), CAST(9 AS Numeric(2, 0)), CAST(6 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(361865097592497907 AS Numeric(18, 0)), CAST(207 AS Numeric(18, 0)), CAST(N'1933-08-05' AS Date), CAST(12 AS Numeric(2, 0)), CAST(10 AS Numeric(2, 0)), CAST(3 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(368362276725331565 AS Numeric(18, 0)), CAST(296 AS Numeric(18, 0)), CAST(N'1980-08-12' AS Date), CAST(6 AS Numeric(2, 0)), CAST(3 AS Numeric(2, 0)), CAST(7 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(369752095047352132 AS Numeric(18, 0)), CAST(272 AS Numeric(18, 0)), CAST(N'1922-04-19' AS Date), CAST(9 AS Numeric(2, 0)), CAST(8 AS Numeric(2, 0)), CAST(3 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(379847124956800152 AS Numeric(18, 0)), CAST(227 AS Numeric(18, 0)), CAST(N'1983-01-06' AS Date), CAST(4 AS Numeric(2, 0)), CAST(3 AS Numeric(2, 0)), CAST(2 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(380411463807111419 AS Numeric(18, 0)), CAST(224 AS Numeric(18, 0)), CAST(N'1921-09-05' AS Date), CAST(8 AS Numeric(2, 0)), CAST(10 AS Numeric(2, 0)), CAST(9 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(407285350186758819 AS Numeric(18, 0)), CAST(289 AS Numeric(18, 0)), CAST(N'2006-03-21' AS Date), CAST(12 AS Numeric(2, 0)), CAST(11 AS Numeric(2, 0)), CAST(10 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(417774432196114954 AS Numeric(18, 0)), CAST(211 AS Numeric(18, 0)), CAST(N'1923-04-14' AS Date), CAST(9 AS Numeric(2, 0)), CAST(10 AS Numeric(2, 0)), CAST(1 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(424150573122929224 AS Numeric(18, 0)), CAST(237 AS Numeric(18, 0)), CAST(N'1930-05-24' AS Date), CAST(3 AS Numeric(2, 0)), CAST(1 AS Numeric(2, 0)), CAST(7 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(425455888768158308 AS Numeric(18, 0)), CAST(294 AS Numeric(18, 0)), CAST(N'1991-11-30' AS Date), CAST(9 AS Numeric(2, 0)), CAST(2 AS Numeric(2, 0)), CAST(11 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(433647873885529206 AS Numeric(18, 0)), CAST(269 AS Numeric(18, 0)), CAST(N'1906-04-23' AS Date), CAST(10 AS Numeric(2, 0)), CAST(6 AS Numeric(2, 0)), CAST(12 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(435504802232564491 AS Numeric(18, 0)), CAST(215 AS Numeric(18, 0)), CAST(N'1970-06-19' AS Date), CAST(8 AS Numeric(2, 0)), CAST(7 AS Numeric(2, 0)), CAST(6 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(437030526466920859 AS Numeric(18, 0)), CAST(219 AS Numeric(18, 0)), CAST(N'2001-04-13' AS Date), CAST(2 AS Numeric(2, 0)), CAST(10 AS Numeric(2, 0)), CAST(11 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(441275329724984463 AS Numeric(18, 0)), CAST(252 AS Numeric(18, 0)), CAST(N'1902-01-22' AS Date), CAST(12 AS Numeric(2, 0)), CAST(2 AS Numeric(2, 0)), CAST(8 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(444021004175587474 AS Numeric(18, 0)), CAST(274 AS Numeric(18, 0)), CAST(N'1946-12-10' AS Date), CAST(4 AS Numeric(2, 0)), CAST(1 AS Numeric(2, 0)), CAST(4 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(445393423608317750 AS Numeric(18, 0)), CAST(241 AS Numeric(18, 0)), CAST(N'1943-03-31' AS Date), CAST(5 AS Numeric(2, 0)), CAST(3 AS Numeric(2, 0)), CAST(12 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(446431083060592924 AS Numeric(18, 0)), CAST(232 AS Numeric(18, 0)), CAST(N'2013-06-06' AS Date), CAST(7 AS Numeric(2, 0)), CAST(5 AS Numeric(2, 0)), CAST(3 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(449178307320694028 AS Numeric(18, 0)), CAST(266 AS Numeric(18, 0)), CAST(N'1995-01-23' AS Date), CAST(6 AS Numeric(2, 0)), CAST(11 AS Numeric(2, 0)), CAST(7 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(453717968869916234 AS Numeric(18, 0)), CAST(221 AS Numeric(18, 0)), CAST(N'1993-04-25' AS Date), CAST(9 AS Numeric(2, 0)), CAST(1 AS Numeric(2, 0)), CAST(6 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(491626188663709237 AS Numeric(18, 0)), CAST(295 AS Numeric(18, 0)), CAST(N'2005-10-21' AS Date), CAST(2 AS Numeric(2, 0)), CAST(11 AS Numeric(2, 0)), CAST(9 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(498210240815070544 AS Numeric(18, 0)), CAST(234 AS Numeric(18, 0)), CAST(N'1924-10-21' AS Date), CAST(4 AS Numeric(2, 0)), CAST(9 AS Numeric(2, 0)), CAST(2 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(499622625090345950 AS Numeric(18, 0)), CAST(277 AS Numeric(18, 0)), CAST(N'1946-11-25' AS Date), CAST(9 AS Numeric(2, 0)), CAST(10 AS Numeric(2, 0)), CAST(2 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(515303719812257418 AS Numeric(18, 0)), CAST(248 AS Numeric(18, 0)), CAST(N'1961-08-28' AS Date), CAST(6 AS Numeric(2, 0)), CAST(3 AS Numeric(2, 0)), CAST(9 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(517025842684530335 AS Numeric(18, 0)), CAST(240 AS Numeric(18, 0)), CAST(N'2005-08-31' AS Date), CAST(1 AS Numeric(2, 0)), CAST(3 AS Numeric(2, 0)), CAST(5 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(518584105477945962 AS Numeric(18, 0)), CAST(229 AS Numeric(18, 0)), CAST(N'1933-05-08' AS Date), CAST(4 AS Numeric(2, 0)), CAST(1 AS Numeric(2, 0)), CAST(7 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(523806795599794046 AS Numeric(18, 0)), CAST(210 AS Numeric(18, 0)), CAST(N'1949-02-01' AS Date), CAST(12 AS Numeric(2, 0)), CAST(7 AS Numeric(2, 0)), CAST(12 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(528956241738785066 AS Numeric(18, 0)), CAST(236 AS Numeric(18, 0)), CAST(N'1901-11-05' AS Date), CAST(1 AS Numeric(2, 0)), CAST(5 AS Numeric(2, 0)), CAST(1 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(530841707207498403 AS Numeric(18, 0)), CAST(285 AS Numeric(18, 0)), CAST(N'2013-10-27' AS Date), CAST(5 AS Numeric(2, 0)), CAST(11 AS Numeric(2, 0)), CAST(7 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(546184316256517467 AS Numeric(18, 0)), CAST(208 AS Numeric(18, 0)), CAST(N'1907-01-28' AS Date), CAST(9 AS Numeric(2, 0)), CAST(1 AS Numeric(2, 0)), CAST(3 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(552882561551166141 AS Numeric(18, 0)), CAST(293 AS Numeric(18, 0)), CAST(N'1910-05-19' AS Date), CAST(10 AS Numeric(2, 0)), CAST(3 AS Numeric(2, 0)), CAST(4 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(563386625800070902 AS Numeric(18, 0)), CAST(204 AS Numeric(18, 0)), CAST(N'1926-10-04' AS Date), CAST(2 AS Numeric(2, 0)), CAST(7 AS Numeric(2, 0)), CAST(4 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(578270233001560190 AS Numeric(18, 0)), CAST(231 AS Numeric(18, 0)), CAST(N'1938-06-09' AS Date), CAST(8 AS Numeric(2, 0)), CAST(9 AS Numeric(2, 0)), CAST(3 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(586431744015728778 AS Numeric(18, 0)), CAST(200 AS Numeric(18, 0)), CAST(N'1977-09-20' AS Date), CAST(2 AS Numeric(2, 0)), CAST(3 AS Numeric(2, 0)), CAST(4 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(609565064523160895 AS Numeric(18, 0)), CAST(291 AS Numeric(18, 0)), CAST(N'2020-12-17' AS Date), CAST(2 AS Numeric(2, 0)), CAST(12 AS Numeric(2, 0)), CAST(2 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(627665395726085927 AS Numeric(18, 0)), CAST(283 AS Numeric(18, 0)), CAST(N'1963-10-04' AS Date), CAST(11 AS Numeric(2, 0)), CAST(9 AS Numeric(2, 0)), CAST(12 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(658203035126017107 AS Numeric(18, 0)), CAST(288 AS Numeric(18, 0)), CAST(N'1969-05-22' AS Date), CAST(12 AS Numeric(2, 0)), CAST(11 AS Numeric(2, 0)), CAST(5 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(665377778881700518 AS Numeric(18, 0)), CAST(270 AS Numeric(18, 0)), CAST(N'2019-06-16' AS Date), CAST(2 AS Numeric(2, 0)), CAST(5 AS Numeric(2, 0)), CAST(12 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(669391842878201241 AS Numeric(18, 0)), CAST(228 AS Numeric(18, 0)), CAST(N'1929-09-21' AS Date), CAST(9 AS Numeric(2, 0)), CAST(2 AS Numeric(2, 0)), CAST(5 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(675127543290464071 AS Numeric(18, 0)), CAST(246 AS Numeric(18, 0)), CAST(N'1955-06-10' AS Date), CAST(4 AS Numeric(2, 0)), CAST(7 AS Numeric(2, 0)), CAST(8 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(675401425153159454 AS Numeric(18, 0)), CAST(247 AS Numeric(18, 0)), CAST(N'1931-09-03' AS Date), CAST(1 AS Numeric(2, 0)), CAST(12 AS Numeric(2, 0)), CAST(3 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(691587522362516223 AS Numeric(18, 0)), CAST(216 AS Numeric(18, 0)), CAST(N'1999-11-22' AS Date), CAST(5 AS Numeric(2, 0)), CAST(9 AS Numeric(2, 0)), CAST(6 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(693701781105572514 AS Numeric(18, 0)), CAST(205 AS Numeric(18, 0)), CAST(N'1950-05-07' AS Date), CAST(3 AS Numeric(2, 0)), CAST(11 AS Numeric(2, 0)), CAST(10 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(696053989146211196 AS Numeric(18, 0)), CAST(273 AS Numeric(18, 0)), CAST(N'2013-05-28' AS Date), CAST(5 AS Numeric(2, 0)), CAST(4 AS Numeric(2, 0)), CAST(2 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(699077853167440020 AS Numeric(18, 0)), CAST(275 AS Numeric(18, 0)), CAST(N'2016-05-17' AS Date), CAST(4 AS Numeric(2, 0)), CAST(2 AS Numeric(2, 0)), CAST(5 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(704322886892749681 AS Numeric(18, 0)), CAST(243 AS Numeric(18, 0)), CAST(N'1916-11-09' AS Date), CAST(3 AS Numeric(2, 0)), CAST(4 AS Numeric(2, 0)), CAST(1 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(704739612555303317 AS Numeric(18, 0)), CAST(299 AS Numeric(18, 0)), CAST(N'1961-10-14' AS Date), CAST(4 AS Numeric(2, 0)), CAST(3 AS Numeric(2, 0)), CAST(3 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(706428597069409133 AS Numeric(18, 0)), CAST(218 AS Numeric(18, 0)), CAST(N'1907-04-03' AS Date), CAST(6 AS Numeric(2, 0)), CAST(12 AS Numeric(2, 0)), CAST(5 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(707131600163865641 AS Numeric(18, 0)), CAST(238 AS Numeric(18, 0)), CAST(N'1905-08-24' AS Date), CAST(3 AS Numeric(2, 0)), CAST(5 AS Numeric(2, 0)), CAST(10 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(714521323507230008 AS Numeric(18, 0)), CAST(282 AS Numeric(18, 0)), CAST(N'2022-04-19' AS Date), CAST(7 AS Numeric(2, 0)), CAST(8 AS Numeric(2, 0)), CAST(5 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(716169354262151698 AS Numeric(18, 0)), CAST(242 AS Numeric(18, 0)), CAST(N'1932-11-17' AS Date), CAST(2 AS Numeric(2, 0)), CAST(5 AS Numeric(2, 0)), CAST(1 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(731489782744558520 AS Numeric(18, 0)), CAST(298 AS Numeric(18, 0)), CAST(N'2011-11-03' AS Date), CAST(12 AS Numeric(2, 0)), CAST(9 AS Numeric(2, 0)), CAST(11 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(746239952390299333 AS Numeric(18, 0)), CAST(286 AS Numeric(18, 0)), CAST(N'2015-06-24' AS Date), CAST(5 AS Numeric(2, 0)), CAST(7 AS Numeric(2, 0)), CAST(4 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(750747525159098446 AS Numeric(18, 0)), CAST(263 AS Numeric(18, 0)), CAST(N'1985-07-22' AS Date), CAST(8 AS Numeric(2, 0)), CAST(9 AS Numeric(2, 0)), CAST(9 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(772462301537848588 AS Numeric(18, 0)), CAST(255 AS Numeric(18, 0)), CAST(N'2019-02-09' AS Date), CAST(10 AS Numeric(2, 0)), CAST(4 AS Numeric(2, 0)), CAST(11 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(821532767748188623 AS Numeric(18, 0)), CAST(256 AS Numeric(18, 0)), CAST(N'1993-09-16' AS Date), CAST(4 AS Numeric(2, 0)), CAST(10 AS Numeric(2, 0)), CAST(10 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(822574963655864210 AS Numeric(18, 0)), CAST(280 AS Numeric(18, 0)), CAST(N'1944-01-07' AS Date), CAST(7 AS Numeric(2, 0)), CAST(6 AS Numeric(2, 0)), CAST(12 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(836293038154159755 AS Numeric(18, 0)), CAST(222 AS Numeric(18, 0)), CAST(N'1934-04-08' AS Date), CAST(5 AS Numeric(2, 0)), CAST(9 AS Numeric(2, 0)), CAST(5 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(840263826418605533 AS Numeric(18, 0)), CAST(257 AS Numeric(18, 0)), CAST(N'1932-06-15' AS Date), CAST(3 AS Numeric(2, 0)), CAST(11 AS Numeric(2, 0)), CAST(8 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(845708038222094805 AS Numeric(18, 0)), CAST(262 AS Numeric(18, 0)), CAST(N'1944-01-23' AS Date), CAST(7 AS Numeric(2, 0)), CAST(9 AS Numeric(2, 0)), CAST(7 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(853002341897898693 AS Numeric(18, 0)), CAST(278 AS Numeric(18, 0)), CAST(N'1990-05-21' AS Date), CAST(12 AS Numeric(2, 0)), CAST(4 AS Numeric(2, 0)), CAST(1 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(858769930558847796 AS Numeric(18, 0)), CAST(203 AS Numeric(18, 0)), CAST(N'1963-10-30' AS Date), CAST(12 AS Numeric(2, 0)), CAST(4 AS Numeric(2, 0)), CAST(4 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(890300340822210038 AS Numeric(18, 0)), CAST(209 AS Numeric(18, 0)), CAST(N'1936-08-15' AS Date), CAST(5 AS Numeric(2, 0)), CAST(4 AS Numeric(2, 0)), CAST(8 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(895365939767961665 AS Numeric(18, 0)), CAST(235 AS Numeric(18, 0)), CAST(N'1984-08-19' AS Date), CAST(3 AS Numeric(2, 0)), CAST(4 AS Numeric(2, 0)), CAST(9 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(907600470597691453 AS Numeric(18, 0)), CAST(245 AS Numeric(18, 0)), CAST(N'1962-07-06' AS Date), CAST(6 AS Numeric(2, 0)), CAST(12 AS Numeric(2, 0)), CAST(3 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(931305549210903996 AS Numeric(18, 0)), CAST(230 AS Numeric(18, 0)), CAST(N'1952-03-20' AS Date), CAST(10 AS Numeric(2, 0)), CAST(1 AS Numeric(2, 0)), CAST(10 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(939985783481703548 AS Numeric(18, 0)), CAST(226 AS Numeric(18, 0)), CAST(N'1928-06-08' AS Date), CAST(7 AS Numeric(2, 0)), CAST(10 AS Numeric(2, 0)), CAST(8 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(942394912042083035 AS Numeric(18, 0)), CAST(297 AS Numeric(18, 0)), CAST(N'1920-01-12' AS Date), CAST(2 AS Numeric(2, 0)), CAST(3 AS Numeric(2, 0)), CAST(2 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(944972968951125531 AS Numeric(18, 0)), CAST(265 AS Numeric(18, 0)), CAST(N'1988-11-27' AS Date), CAST(5 AS Numeric(2, 0)), CAST(1 AS Numeric(2, 0)), CAST(5 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(977745178128018399 AS Numeric(18, 0)), CAST(276 AS Numeric(18, 0)), CAST(N'1980-01-28' AS Date), CAST(8 AS Numeric(2, 0)), CAST(12 AS Numeric(2, 0)), CAST(1 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(988840245332413930 AS Numeric(18, 0)), CAST(239 AS Numeric(18, 0)), CAST(N'1909-06-23' AS Date), CAST(6 AS Numeric(2, 0)), CAST(6 AS Numeric(2, 0)), CAST(8 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(996447570117362089 AS Numeric(18, 0)), CAST(258 AS Numeric(18, 0)), CAST(N'1986-10-27' AS Date), CAST(9 AS Numeric(2, 0)), CAST(10 AS Numeric(2, 0)), CAST(1 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) VALUES (CAST(997799076232318387 AS Numeric(18, 0)), CAST(267 AS Numeric(18, 0)), CAST(N'1981-05-17' AS Date), CAST(8 AS Numeric(2, 0)), CAST(3 AS Numeric(2, 0)), CAST(11 AS Numeric(2, 0)))
GO

# [dbo].[JOB_HISTORY]

In [0]:
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(41324817476715455 AS Numeric(18, 0)), CAST(215 AS Numeric(18, 0)), N'Mr', N'Dr', CAST(N'2023-08-08' AS Date), CAST(N'2023-12-07' AS Date), N'Senior Editor', N'Mr', N'Mrs', 30222)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(42689929682276668 AS Numeric(18, 0)), CAST(212 AS Numeric(18, 0)), N'Rev', N'Ms', CAST(N'2023-05-05' AS Date), CAST(N'2024-03-07' AS Date), N'Environmental Tech', N'Rev', N'Honorable', 30287)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(50442363904900891 AS Numeric(18, 0)), CAST(222 AS Numeric(18, 0)), N'Honorable', N'Dr', CAST(N'2024-02-07' AS Date), CAST(N'2024-02-26' AS Date), N'Editor', N'Rev', N'Mrs', 26748)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(50729335389413596 AS Numeric(18, 0)), CAST(237 AS Numeric(18, 0)), N'Mr', N'Dr', CAST(N'2024-02-02' AS Date), CAST(N'2023-08-24' AS Date), N'Quality Control Specialist', N'Mrs', N'Honorable', 13616)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(57318736614245693 AS Numeric(18, 0)), CAST(209 AS Numeric(18, 0)), N'Ms', N'Rev', CAST(N'2023-06-11' AS Date), CAST(N'2023-06-24' AS Date), N'Automation Specialist I', N'Ms', N'Dr', 3148)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(61158488280628788 AS Numeric(18, 0)), CAST(271 AS Numeric(18, 0)), N'Rev', N'Mrs', CAST(N'2023-10-18' AS Date), CAST(N'2024-04-12' AS Date), N'Pharmacist', N'Mrs', N'Dr', 17786)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(72438466637364018 AS Numeric(18, 0)), CAST(211 AS Numeric(18, 0)), N'Mrs', N'Honorable', CAST(N'2023-09-04' AS Date), CAST(N'2023-07-31' AS Date), N'Health Coach II', N'Ms', N'Dr', 2844)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(83323119515552141 AS Numeric(18, 0)), CAST(246 AS Numeric(18, 0)), N'Ms', N'Mr', CAST(N'2024-02-26' AS Date), CAST(N'2024-03-09' AS Date), N'Account Executive', N'Mrs', N'Dr', 10440)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(91889377016081771 AS Numeric(18, 0)), CAST(201 AS Numeric(18, 0)), N'Mr', N'Mr', CAST(N'2023-10-21' AS Date), CAST(N'2023-07-18' AS Date), N'Technical Writer', N'Dr', N'Mr', 30746)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(112297172736368719 AS Numeric(18, 0)), CAST(291 AS Numeric(18, 0)), N'Mrs', N'Dr', CAST(N'2023-08-11' AS Date), CAST(N'2024-02-12' AS Date), N'Administrative Assistant III', N'Rev', N'Mr', 29741)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(122940042889488882 AS Numeric(18, 0)), CAST(236 AS Numeric(18, 0)), N'Ms', N'Mrs', CAST(N'2024-02-08' AS Date), CAST(N'2023-10-14' AS Date), N'Assistant Manager', N'Ms', N'Dr', 29827)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(130008876008632104 AS Numeric(18, 0)), CAST(207 AS Numeric(18, 0)), N'Rev', N'Dr', CAST(N'2024-03-18' AS Date), CAST(N'2023-05-25' AS Date), N'Systems Administrator II', N'Honorable', N'Mrs', 16950)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(153207392166551505 AS Numeric(18, 0)), CAST(286 AS Numeric(18, 0)), N'Mrs', N'Ms', CAST(N'2023-08-05' AS Date), CAST(N'2023-09-10' AS Date), N'VP Accounting', N'Honorable', N'Ms', 31187)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(155084418434821991 AS Numeric(18, 0)), CAST(250 AS Numeric(18, 0)), N'Ms', N'Rev', CAST(N'2023-06-26' AS Date), CAST(N'2023-05-04' AS Date), N'Community Outreach Specialist', N'Honorable', N'Honorable', 2561)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(163783634597587050 AS Numeric(18, 0)), CAST(206 AS Numeric(18, 0)), N'Mrs', N'Dr', CAST(N'2023-05-03' AS Date), CAST(N'2023-08-08' AS Date), N'Design Engineer', N'Rev', N'Mrs', 28504)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(184066713104031595 AS Numeric(18, 0)), CAST(243 AS Numeric(18, 0)), N'Ms', N'Ms', CAST(N'2023-06-22' AS Date), CAST(N'2023-04-22' AS Date), N'Account Coordinator', N'Mr', N'Dr', 25564)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(206661544760115316 AS Numeric(18, 0)), CAST(272 AS Numeric(18, 0)), N'Rev', N'Mrs', CAST(N'2023-07-26' AS Date), CAST(N'2023-11-01' AS Date), N'Structural Engineer', N'Mrs', N'Rev', 29391)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(215804341506322279 AS Numeric(18, 0)), CAST(253 AS Numeric(18, 0)), N'Mrs', N'Mr', CAST(N'2023-11-07' AS Date), CAST(N'2023-06-11' AS Date), N'Staff Scientist', N'Honorable', N'Dr', 9171)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(223020929149798088 AS Numeric(18, 0)), CAST(226 AS Numeric(18, 0)), N'Mrs', N'Mr', CAST(N'2023-11-21' AS Date), CAST(N'2024-02-08' AS Date), N'Professor', N'Mr', N'Mrs', 21977)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(226261805927110083 AS Numeric(18, 0)), CAST(223 AS Numeric(18, 0)), N'Rev', N'Mrs', CAST(N'2023-07-15' AS Date), CAST(N'2023-05-02' AS Date), N'Statistician IV', N'Rev', N'Rev', 12535)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(232770871474651975 AS Numeric(18, 0)), CAST(239 AS Numeric(18, 0)), N'Ms', N'Mrs', CAST(N'2023-08-04' AS Date), CAST(N'2023-10-25' AS Date), N'Registered Nurse', N'Honorable', N'Rev', 25627)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(238614560387462865 AS Numeric(18, 0)), CAST(217 AS Numeric(18, 0)), N'Mrs', N'Dr', CAST(N'2024-04-13' AS Date), CAST(N'2023-06-10' AS Date), N'Staff Accountant IV', N'Mrs', N'Ms', 24255)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(243764475582612992 AS Numeric(18, 0)), CAST(234 AS Numeric(18, 0)), N'Mrs', N'Mrs', CAST(N'2023-08-12' AS Date), CAST(N'2024-03-26' AS Date), N'Sales Representative', N'Mrs', N'Rev', 17860)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(250142334642690460 AS Numeric(18, 0)), CAST(293 AS Numeric(18, 0)), N'Rev', N'Dr', CAST(N'2024-02-02' AS Date), CAST(N'2024-03-10' AS Date), N'Database Administrator III', N'Mrs', N'Mrs', 11433)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(256051060838686852 AS Numeric(18, 0)), CAST(255 AS Numeric(18, 0)), N'Mr', N'Rev', CAST(N'2023-10-24' AS Date), CAST(N'2023-07-21' AS Date), N'Office Assistant I', N'Honorable', N'Ms', 26540)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(263324270674532844 AS Numeric(18, 0)), CAST(224 AS Numeric(18, 0)), N'Mrs', N'Mr', CAST(N'2023-09-19' AS Date), CAST(N'2024-03-17' AS Date), N'VP Sales', N'Honorable', N'Honorable', 19302)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(268575482599646235 AS Numeric(18, 0)), CAST(297 AS Numeric(18, 0)), N'Mr', N'Mr', CAST(N'2023-07-23' AS Date), CAST(N'2023-09-04' AS Date), N'Financial Advisor', N'Rev', N'Rev', 9536)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(271520065610187222 AS Numeric(18, 0)), CAST(264 AS Numeric(18, 0)), N'Mr', N'Rev', CAST(N'2023-07-27' AS Date), CAST(N'2023-06-29' AS Date), N'Senior Developer', N'Honorable', N'Honorable', 17438)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(280406573558262636 AS Numeric(18, 0)), CAST(231 AS Numeric(18, 0)), N'Ms', N'Mr', CAST(N'2024-02-13' AS Date), CAST(N'2024-03-06' AS Date), N'Human Resources Assistant IV', N'Ms', N'Ms', 22812)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(286919637159172092 AS Numeric(18, 0)), CAST(273 AS Numeric(18, 0)), N'Ms', N'Ms', CAST(N'2024-02-14' AS Date), CAST(N'2023-08-08' AS Date), N'Data Coordinator', N'Honorable', N'Ms', 14326)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(304714454382848001 AS Numeric(18, 0)), CAST(262 AS Numeric(18, 0)), N'Dr', N'Rev', CAST(N'2024-02-16' AS Date), CAST(N'2023-09-04' AS Date), N'Senior Quality Engineer', N'Honorable', N'Dr', 21501)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(310731797182976719 AS Numeric(18, 0)), CAST(242 AS Numeric(18, 0)), N'Dr', N'Ms', CAST(N'2023-08-01' AS Date), CAST(N'2024-01-29' AS Date), N'Developer III', N'Rev', N'Ms', 19327)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(320822092132208501 AS Numeric(18, 0)), CAST(289 AS Numeric(18, 0)), N'Honorable', N'Rev', CAST(N'2023-07-27' AS Date), CAST(N'2024-01-29' AS Date), N'Technical Writer', N'Mrs', N'Honorable', 8387)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(330174782448083715 AS Numeric(18, 0)), CAST(216 AS Numeric(18, 0)), N'Ms', N'Rev', CAST(N'2024-04-12' AS Date), CAST(N'2023-09-29' AS Date), N'Research Nurse', N'Mrs', N'Ms', 15159)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(340878206850960506 AS Numeric(18, 0)), CAST(256 AS Numeric(18, 0)), N'Mrs', N'Honorable', CAST(N'2024-03-14' AS Date), CAST(N'2024-01-07' AS Date), N'Research Nurse', N'Dr', N'Mrs', 20565)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(368684690405770253 AS Numeric(18, 0)), CAST(221 AS Numeric(18, 0)), N'Mr', N'Ms', CAST(N'2024-03-21' AS Date), CAST(N'2024-02-10' AS Date), N'Senior Cost Accountant', N'Mrs', N'Mr', 4289)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(416542296667667159 AS Numeric(18, 0)), CAST(205 AS Numeric(18, 0)), N'Rev', N'Mr', CAST(N'2023-05-20' AS Date), CAST(N'2024-04-01' AS Date), N'Sales Associate', N'Mrs', N'Ms', 10761)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(422904877639799994 AS Numeric(18, 0)), CAST(287 AS Numeric(18, 0)), N'Dr', N'Dr', CAST(N'2023-06-27' AS Date), CAST(N'2023-04-25' AS Date), N'Sales Associate', N'Ms', N'Honorable', 1609)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(423439986948987532 AS Numeric(18, 0)), CAST(284 AS Numeric(18, 0)), N'Dr', N'Mrs', CAST(N'2023-11-27' AS Date), CAST(N'2023-07-14' AS Date), N'Research Assistant II', N'Dr', N'Ms', 2113)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(446805185724749960 AS Numeric(18, 0)), CAST(298 AS Numeric(18, 0)), N'Rev', N'Rev', CAST(N'2023-11-16' AS Date), CAST(N'2023-04-23' AS Date), N'VP Sales', N'Rev', N'Honorable', 26171)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(447434161083805279 AS Numeric(18, 0)), CAST(220 AS Numeric(18, 0)), N'Mr', N'Rev', CAST(N'2024-04-08' AS Date), CAST(N'2023-04-18' AS Date), N'Editor', N'Dr', N'Mr', 9331)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(448752485767785951 AS Numeric(18, 0)), CAST(270 AS Numeric(18, 0)), N'Mr', N'Mrs', CAST(N'2023-12-15' AS Date), CAST(N'2023-05-11' AS Date), N'Operator', N'Mr', N'Ms', 11166)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(478522324054532691 AS Numeric(18, 0)), CAST(276 AS Numeric(18, 0)), N'Rev', N'Mrs', CAST(N'2023-07-07' AS Date), CAST(N'2024-03-31' AS Date), N'Research Nurse', N'Rev', N'Honorable', 7977)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(490503364403057896 AS Numeric(18, 0)), CAST(265 AS Numeric(18, 0)), N'Rev', N'Dr', CAST(N'2023-12-29' AS Date), CAST(N'2024-04-07' AS Date), N'Recruiter', N'Rev', N'Mr', 11470)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(494124723391493525 AS Numeric(18, 0)), CAST(278 AS Numeric(18, 0)), N'Mrs', N'Ms', CAST(N'2023-05-18' AS Date), CAST(N'2024-03-10' AS Date), N'Recruiter', N'Dr', N'Dr', 5578)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(494532671143619466 AS Numeric(18, 0)), CAST(267 AS Numeric(18, 0)), N'Rev', N'Mr', CAST(N'2024-02-10' AS Date), CAST(N'2024-02-18' AS Date), N'Software Consultant', N'Mrs', N'Mr', 26688)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(495232133438654322 AS Numeric(18, 0)), CAST(232 AS Numeric(18, 0)), N'Mr', N'Mrs', CAST(N'2023-11-04' AS Date), CAST(N'2023-08-05' AS Date), N'Information Systems Manager', N'Dr', N'Rev', 4845)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(509675418420803748 AS Numeric(18, 0)), CAST(203 AS Numeric(18, 0)), N'Mrs', N'Rev', CAST(N'2023-10-12' AS Date), CAST(N'2024-01-30' AS Date), N'Registered Nurse', N'Ms', N'Ms', 9930)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(520814539158093805 AS Numeric(18, 0)), CAST(244 AS Numeric(18, 0)), N'Ms', N'Ms', CAST(N'2023-06-08' AS Date), CAST(N'2023-08-06' AS Date), N'Geological Engineer', N'Rev', N'Rev', 15288)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(541205231513409570 AS Numeric(18, 0)), CAST(230 AS Numeric(18, 0)), N'Mrs', N'Honorable', CAST(N'2023-08-06' AS Date), CAST(N'2023-08-17' AS Date), N'Research Nurse', N'Mr', N'Ms', 20361)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(555749732788008567 AS Numeric(18, 0)), CAST(229 AS Numeric(18, 0)), N'Honorable', N'Ms', CAST(N'2023-08-12' AS Date), CAST(N'2024-01-04' AS Date), N'Mechanical Systems Engineer', N'Rev', N'Rev', 11329)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(564955245323856758 AS Numeric(18, 0)), CAST(257 AS Numeric(18, 0)), N'Mr', N'Mrs', CAST(N'2024-03-16' AS Date), CAST(N'2024-01-07' AS Date), N'Senior Editor', N'Rev', N'Mr', 6240)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(569000799950710401 AS Numeric(18, 0)), CAST(247 AS Numeric(18, 0)), N'Dr', N'Honorable', CAST(N'2024-04-09' AS Date), CAST(N'2023-11-24' AS Date), N'Accountant IV', N'Mr', N'Honorable', 5403)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(578886396763471835 AS Numeric(18, 0)), CAST(202 AS Numeric(18, 0)), N'Mr', N'Rev', CAST(N'2023-10-30' AS Date), CAST(N'2023-07-10' AS Date), N'Civil Engineer', N'Rev', N'Mr', 5096)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(594403904992994369 AS Numeric(18, 0)), CAST(248 AS Numeric(18, 0)), N'Honorable', N'Mr', CAST(N'2023-11-03' AS Date), CAST(N'2023-07-18' AS Date), N'Staff Scientist', N'Rev', N'Ms', 18037)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(597221841624444861 AS Numeric(18, 0)), CAST(252 AS Numeric(18, 0)), N'Rev', N'Honorable', CAST(N'2024-01-24' AS Date), CAST(N'2024-04-09' AS Date), N'Software Engineer II', N'Honorable', N'Mr', 9746)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(601827946608451241 AS Numeric(18, 0)), CAST(294 AS Numeric(18, 0)), N'Rev', N'Honorable', CAST(N'2023-12-12' AS Date), CAST(N'2023-10-17' AS Date), N'Web Developer III', N'Dr', N'Mr', 31052)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(640178149196681930 AS Numeric(18, 0)), CAST(251 AS Numeric(18, 0)), N'Rev', N'Ms', CAST(N'2023-09-20' AS Date), CAST(N'2024-01-07' AS Date), N'Web Designer III', N'Dr', N'Mr', 181)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(648798716039096664 AS Numeric(18, 0)), CAST(282 AS Numeric(18, 0)), N'Mr', N'Mrs', CAST(N'2023-06-26' AS Date), CAST(N'2023-08-26' AS Date), N'Quality Control Specialist', N'Rev', N'Dr', 21517)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(649245554614630871 AS Numeric(18, 0)), CAST(228 AS Numeric(18, 0)), N'Mr', N'Honorable', CAST(N'2023-07-26' AS Date), CAST(N'2023-09-05' AS Date), N'Occupational Therapist', N'Rev', N'Mrs', 11310)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(669745289212330426 AS Numeric(18, 0)), CAST(218 AS Numeric(18, 0)), N'Ms', N'Dr', CAST(N'2023-10-06' AS Date), CAST(N'2024-01-14' AS Date), N'Biostatistician I', N'Dr', N'Dr', 20871)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(705794191898271149 AS Numeric(18, 0)), CAST(299 AS Numeric(18, 0)), N'Mrs', N'Mr', CAST(N'2024-03-15' AS Date), CAST(N'2023-12-02' AS Date), N'Executive Secretary', N'Dr', N'Ms', 13953)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(713225007770505811 AS Numeric(18, 0)), CAST(238 AS Numeric(18, 0)), N'Rev', N'Ms', CAST(N'2023-06-28' AS Date), CAST(N'2024-03-18' AS Date), N'Geological Engineer', N'Dr', N'Ms', 18939)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(735021074211783045 AS Numeric(18, 0)), CAST(292 AS Numeric(18, 0)), N'Rev', N'Dr', CAST(N'2023-11-06' AS Date), CAST(N'2023-11-30' AS Date), N'Web Designer I', N'Dr', N'Rev', 18747)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(739482232065160739 AS Numeric(18, 0)), CAST(245 AS Numeric(18, 0)), N'Ms', N'Mr', CAST(N'2023-04-15' AS Date), CAST(N'2024-01-24' AS Date), N'Community Outreach Specialist', N'Rev', N'Mr', 26568)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(742417227971094473 AS Numeric(18, 0)), CAST(240 AS Numeric(18, 0)), N'Ms', N'Ms', CAST(N'2023-05-27' AS Date), CAST(N'2023-05-31' AS Date), N'Actuary', N'Honorable', N'Honorable', 4613)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(743562443438035973 AS Numeric(18, 0)), CAST(258 AS Numeric(18, 0)), N'Ms', N'Honorable', CAST(N'2024-03-22' AS Date), CAST(N'2023-12-23' AS Date), N'Assistant Media Planner', N'Mrs', N'Mrs', 31202)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(747149969720511552 AS Numeric(18, 0)), CAST(233 AS Numeric(18, 0)), N'Ms', N'Mrs', CAST(N'2024-01-10' AS Date), CAST(N'2023-11-17' AS Date), N'Web Designer II', N'Rev', N'Mrs', 27855)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(747435094460551547 AS Numeric(18, 0)), CAST(268 AS Numeric(18, 0)), N'Mrs', N'Honorable', CAST(N'2023-07-21' AS Date), CAST(N'2024-03-11' AS Date), N'Health Coach I', N'Ms', N'Mr', 19245)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(757528276290127207 AS Numeric(18, 0)), CAST(225 AS Numeric(18, 0)), N'Mr', N'Dr', CAST(N'2023-06-03' AS Date), CAST(N'2023-06-25' AS Date), N'VP Product Management', N'Rev', N'Ms', 27909)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(758873473267002513 AS Numeric(18, 0)), CAST(288 AS Numeric(18, 0)), N'Mrs', N'Dr', CAST(N'2024-02-04' AS Date), CAST(N'2023-09-20' AS Date), N'Registered Nurse', N'Dr', N'Honorable', 11165)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(764561377787418388 AS Numeric(18, 0)), CAST(280 AS Numeric(18, 0)), N'Honorable', N'Rev', CAST(N'2023-05-05' AS Date), CAST(N'2024-01-13' AS Date), N'VP Marketing', N'Dr', N'Rev', 10754)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(765664732420909986 AS Numeric(18, 0)), CAST(279 AS Numeric(18, 0)), N'Rev', N'Mrs', CAST(N'2023-06-16' AS Date), CAST(N'2023-07-20' AS Date), N'Nurse Practicioner', N'Rev', N'Mrs', 15379)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(770199993855038422 AS Numeric(18, 0)), CAST(219 AS Numeric(18, 0)), N'Dr', N'Dr', CAST(N'2024-02-24' AS Date), CAST(N'2023-06-28' AS Date), N'Web Developer IV', N'Honorable', N'Dr', 24460)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(778519701843424800 AS Numeric(18, 0)), CAST(295 AS Numeric(18, 0)), N'Ms', N'Mrs', CAST(N'2023-05-23' AS Date), CAST(N'2023-12-19' AS Date), N'Director of Sales', N'Ms', N'Mr', 11375)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(780439547973527749 AS Numeric(18, 0)), CAST(249 AS Numeric(18, 0)), N'Rev', N'Rev', CAST(N'2023-12-28' AS Date), CAST(N'2023-08-13' AS Date), N'Dental Hygienist', N'Mrs', N'Mrs', 18629)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(784997327497347015 AS Numeric(18, 0)), CAST(235 AS Numeric(18, 0)), N'Honorable', N'Honorable', CAST(N'2023-06-02' AS Date), CAST(N'2023-12-23' AS Date), N'VP Sales', N'Mr', N'Honorable', 12959)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(806107888128689734 AS Numeric(18, 0)), CAST(227 AS Numeric(18, 0)), N'Dr', N'Ms', CAST(N'2024-03-28' AS Date), CAST(N'2023-11-03' AS Date), N'Occupational Therapist', N'Mr', N'Mr', 29726)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(812177407010263408 AS Numeric(18, 0)), CAST(213 AS Numeric(18, 0)), N'Ms', N'Mrs', CAST(N'2023-08-21' AS Date), CAST(N'2023-05-01' AS Date), N'Registered Nurse', N'Dr', N'Honorable', 18540)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(822507234751269257 AS Numeric(18, 0)), CAST(204 AS Numeric(18, 0)), N'Mrs', N'Honorable', CAST(N'2023-08-04' AS Date), CAST(N'2023-07-02' AS Date), N'Desktop Support Technician', N'Rev', N'Dr', 15820)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(831192610610755889 AS Numeric(18, 0)), CAST(285 AS Numeric(18, 0)), N'Ms', N'Mrs', CAST(N'2023-06-22' AS Date), CAST(N'2023-07-31' AS Date), N'Dental Hygienist', N'Rev', N'Mrs', 7654)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(840801721468300942 AS Numeric(18, 0)), CAST(266 AS Numeric(18, 0)), N'Dr', N'Rev', CAST(N'2023-04-19' AS Date), CAST(N'2023-06-10' AS Date), N'Dental Hygienist', N'Ms', N'Ms', 11876)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(850732069780118452 AS Numeric(18, 0)), CAST(263 AS Numeric(18, 0)), N'Rev', N'Rev', CAST(N'2023-11-15' AS Date), CAST(N'2023-12-26' AS Date), N'Administrative Officer', N'Mr', N'Dr', 7506)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(855333109405263643 AS Numeric(18, 0)), CAST(296 AS Numeric(18, 0)), N'Ms', N'Mrs', CAST(N'2023-09-29' AS Date), CAST(N'2024-03-20' AS Date), N'Systems Administrator III', N'Mr', N'Honorable', 3677)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(867304077084609486 AS Numeric(18, 0)), CAST(281 AS Numeric(18, 0)), N'Mr', N'Ms', CAST(N'2024-01-20' AS Date), CAST(N'2023-07-28' AS Date), N'Social Worker', N'Mr', N'Mrs', 22219)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(869106495361971405 AS Numeric(18, 0)), CAST(277 AS Numeric(18, 0)), N'Rev', N'Mr', CAST(N'2023-09-12' AS Date), CAST(N'2024-04-10' AS Date), N'Senior Editor', N'Honorable', N'Mrs', 28019)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(880011667302671895 AS Numeric(18, 0)), CAST(214 AS Numeric(18, 0)), N'Rev', N'Mr', CAST(N'1996-06-29' AS Date), CAST(N'2023-05-27' AS Date), N'Sales Representative', N'Rev', N'Honorable', 11407)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(881477375662630929 AS Numeric(18, 0)), CAST(208 AS Numeric(18, 0)), N'Ms', N'Dr', CAST(N'2023-07-20' AS Date), CAST(N'2023-05-06' AS Date), N'Editor', N'Rev', N'Mr', 1659)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(897355000829694406 AS Numeric(18, 0)), CAST(241 AS Numeric(18, 0)), N'Ms', N'Rev', CAST(N'2023-08-23' AS Date), CAST(N'2023-12-20' AS Date), N'Health Coach IV', N'Honorable', N'Honorable', 15739)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(909717642421143291 AS Numeric(18, 0)), CAST(274 AS Numeric(18, 0)), N'Ms', N'Mrs', CAST(N'2024-01-18' AS Date), CAST(N'2023-06-03' AS Date), N'Internal Auditor', N'Ms', N'Mrs', 26862)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(913577748156214840 AS Numeric(18, 0)), CAST(260 AS Numeric(18, 0)), N'Mrs', N'Dr', CAST(N'2024-03-03' AS Date), CAST(N'2024-03-07' AS Date), N'Chief Design Engineer', N'Rev', N'Rev', 1070)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(935196662421459599 AS Numeric(18, 0)), CAST(261 AS Numeric(18, 0)), N'Mr', N'Mr', CAST(N'2023-11-25' AS Date), CAST(N'2023-04-14' AS Date), N'Business Systems Development Analyst', N'Mr', N'Mr', 18086)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(947579128995350547 AS Numeric(18, 0)), CAST(210 AS Numeric(18, 0)), N'Ms', N'Ms', CAST(N'2023-07-20' AS Date), CAST(N'2024-03-31' AS Date), N'Quality Engineer', N'Honorable', N'Dr', 22730)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(958038553716594531 AS Numeric(18, 0)), CAST(259 AS Numeric(18, 0)), N'Rev', N'Ms', CAST(N'2023-09-05' AS Date), CAST(N'2023-11-24' AS Date), N'Clinical Specialist', N'Dr', N'Ms', 13623)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(958822591151713650 AS Numeric(18, 0)), CAST(269 AS Numeric(18, 0)), N'Rev', N'Dr', CAST(N'2024-03-07' AS Date), CAST(N'2023-08-16' AS Date), N'Assistant Professor', N'Mrs', N'Honorable', 26308)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(961416735653661129 AS Numeric(18, 0)), CAST(290 AS Numeric(18, 0)), N'Mrs', N'Rev', CAST(N'2023-08-26' AS Date), CAST(N'2023-12-14' AS Date), N'Speech Pathologist', N'Ms', N'Honorable', 17207)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(976847751033980932 AS Numeric(18, 0)), CAST(250 AS Numeric(18, 0)), N'Dr', N'Honorable', CAST(N'2023-08-22' AS Date), CAST(N'2023-12-17' AS Date), N'Computer Systems Analyst I', N'Mr', N'Mr', 6249)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(987478912562377294 AS Numeric(18, 0)), CAST(283 AS Numeric(18, 0)), N'Honorable', N'Honorable', CAST(N'2023-08-27' AS Date), CAST(N'2023-12-03' AS Date), N'Developer I', N'Mr', N'Honorable', 30920)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(990680101164829111 AS Numeric(18, 0)), CAST(275 AS Numeric(18, 0)), N'Mrs', N'Honorable', CAST(N'2023-12-07' AS Date), CAST(N'2024-03-22' AS Date), N'Senior Sales Associate', N'Mr', N'Rev', 17916)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(992160218970152090 AS Numeric(18, 0)), CAST(254 AS Numeric(18, 0)), N'Honorable', N'Ms', CAST(N'2023-06-13' AS Date), CAST(N'2023-05-03' AS Date), N'Editor', N'Mr', N'Ms', 2264)
GO

In [0]:
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(992160218970152091 AS Numeric(18, 0)), CAST(300 AS Numeric(18, 0)), N'marketing', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(992160218970152092 AS Numeric(18, 0)), CAST(202 AS Numeric(18, 0)), N'Marketing', NULL, NULL, NULL, N'Fulltime', NULL, NULL, NULL)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(992160218970152093 AS Numeric(18, 0)), CAST(301 AS Numeric(18, 0)), N'string', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(992160218970152094 AS Numeric(18, 0)), CAST(304 AS Numeric(18, 0)), N'marketing', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(992160218970152095 AS Numeric(18, 0)), CAST(3045 AS Numeric(18, 0)), N'marketing', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(992160218970152096 AS Numeric(18, 0)), CAST(500 AS Numeric(18, 0)), N'Honorable', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(992160218970152097 AS Numeric(18, 0)), CAST(2345 AS Numeric(18, 0)), N'string', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) VALUES (CAST(992160218970152099 AS Numeric(18, 0)), CAST(9999 AS Numeric(18, 0)), N'Ms', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO

# [dbo].[PERSONAL]

In [0]:
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(2 AS Numeric(18, 0)), N'Văn', N'Nam', N'Đặng', CAST(N'2003-01-14' AS Date), N'1234567', N'a1', N'quảng nam', N'Đà Nẵng', N'Đà Nẵng', N'Việt Nam', CAST(1234 AS Numeric(18, 0)), N'Nam', N'0987654321', NULL, N'độc thân', N'kinh      ', 5, CAST(2 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(100 AS Numeric(18, 0)), N'Town', N'Quarmby', N'Urbano', CAST(N'2055-03-04' AS Date), N'450-37-7194', NULL, N'23 Commercial Junction', N'54 Mcguire Park', N'Kon Tum', N'Vietnam', CAST(308398 AS Numeric(18, 0)), N'Male', N'520-574-6569', N'uquarmby0@answers.com', N'Divorced', N'Other     ', 12926, CAST(4 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(101 AS Numeric(18, 0)), N'Genvieve', N'Glassborow', N'Kaia', CAST(N'2083-12-13' AS Date), N'820-61-1018', NULL, N'6 Pleasure Parkway', N'52643 Elmside Drive', N'B?c K?n', N'Vietnam', CAST(401285 AS Numeric(18, 0)), N'Female', N'392-128-7691', N'kglassborow1@hugedomains.com', N'Separated', N'Black     ', 6327, CAST(2 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(102 AS Numeric(18, 0)), N'Zilvia', N'Hrycek', N'Danyette', CAST(N'2010-06-17' AS Date), N'809-77-6576', NULL, N'8107 Lerdahl Place', N'61631 Blaine Drive', N'Yên L?c', N'Vietnam', CAST(376570 AS Numeric(18, 0)), N'Female', N'900-665-9429', N'dhrycek2@nhs.uk', N'Married', N'White     ', 21328, CAST(3 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(103 AS Numeric(18, 0)), N'Nikos', N'Gatland', N'Malchy', CAST(N'1998-04-27' AS Date), N'238-59-7235', NULL, N'000 Bowman Alley', N'78940 Mendota Trail', N'Ly´ Son', N'Vietnam', CAST(544889 AS Numeric(18, 0)), N'Male', N'976-207-8174', N'mgatland3@reference.com', N'Divorced', N'Hispanic  ', 9885, CAST(1 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(104 AS Numeric(18, 0)), N'Pammie', N'Bulloch', N'Mead', CAST(N'1918-03-11' AS Date), N'768-20-6175', NULL, N'81690 Corben Parkway', N'334 Dunning Junction', N'Minh Luong', N'Vietnam', CAST(924872 AS Numeric(18, 0)), N'Female', N'547-167-4869', N'mbulloch4@msn.com', N'Married', N'Hispanic  ', 6627, CAST(2 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(105 AS Numeric(18, 0)), N'Micky', N'Gooms', N'Esteban', CAST(N'2092-03-24' AS Date), N'311-47-0305', NULL, N'1255 Sage Court', N'6 Waubesa Avenue', N'Ða´k Glei', N'Vietnam', CAST(670268 AS Numeric(18, 0)), N'Male', N'713-375-0052', N'egooms5@bbc.co.uk', N'Separated', N'Other     ', 17313, CAST(5 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(106 AS Numeric(18, 0)), N'Carleen', N'Ernke', N'Roanne', CAST(N'1913-03-19' AS Date), N'663-81-6120', NULL, N'2 Forster Terrace', N'085 Russell Park', N'Ngoc Hon Doc', N'Vietnam', CAST(16781 AS Numeric(18, 0)), N'Female', N'623-980-7396', N'rernke6@shinystat.com', N'Married', N'White     ', 3466, CAST(5 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(107 AS Numeric(18, 0)), N'Olivia', N'Dudden', N'Nolie', CAST(N'1965-03-18' AS Date), N'359-09-0608', NULL, N'90 Bayside Trail', N'2149 Goodland Pass', N'Anh Son', N'Vietnam', CAST(773207 AS Numeric(18, 0)), N'Female', N'577-159-4966', N'ndudden7@home.pl', N'Separated', N'Asian     ', 1632, CAST(5 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(108 AS Numeric(18, 0)), N'Ty', N'Dungay', N'Ryley', CAST(N'1932-08-25' AS Date), N'688-92-7159', NULL, N'634 Green Place', N'36375 Dexter Junction', N'Th? Tr?n Th?t Khê', N'Vietnam', CAST(175298 AS Numeric(18, 0)), N'Male', N'236-464-1738', N'rdungay8@shop-pro.jp', N'Single', N'Black     ', 26353, CAST(5 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(109 AS Numeric(18, 0)), N'Napoleon', N'Goggins', N'Rafael', CAST(N'1953-09-24' AS Date), N'539-34-2461', NULL, N'169 Gateway Terrace', N'079 Sachtjen Place', N'Th? Tr?n C?m Th?y', N'Vietnam', CAST(858682 AS Numeric(18, 0)), N'Male', N'121-468-4980', N'rgoggins9@un.org', N'Married', N'American  ', 18988, CAST(1 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(110 AS Numeric(18, 0)), N'Alonzo', N'Baton', N'Delaney', CAST(N'2050-02-14' AS Date), N'259-34-2044', NULL, N'1416 Westport Street', N'34 Schiller Point', N'Th? Tr?n Vi?t Lâm', N'Vietnam', CAST(19327 AS Numeric(18, 0)), N'Male', N'551-966-9733', N'dbatona@pagesperso-orange.fr', N'Separated', N'American  ', 1594, CAST(2 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(111 AS Numeric(18, 0)), N'Paton', N'Lilburn', N'Hubey', CAST(N'2070-03-27' AS Date), N'118-56-7820', NULL, N'31 Sundown Park', N'8634 Monument Terrace', N'Hung Nguyên', N'Vietnam', CAST(156066 AS Numeric(18, 0)), N'Male', N'885-924-2357', N'hlilburnb@wufoo.com', N'Separated', N'American  ', 24899, CAST(2 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(112 AS Numeric(18, 0)), N'Laurens', N'Burgis', N'Cullan', CAST(N'2084-01-24' AS Date), N'572-69-8457', NULL, N'546 Everett Avenue', N'346 Carey Road', N'Ch? M?i', N'Vietnam', CAST(223429 AS Numeric(18, 0)), N'Male', N'779-602-4957', N'cburgisc@foxnews.com', N'Widowed', N'Other     ', 4289, CAST(4 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(113 AS Numeric(18, 0)), N'Ron', N'Street', N'Fabio', CAST(N'1953-10-23' AS Date), N'802-56-4192', NULL, N'4122 Ludington Way', N'147 Bunting Pass', N'Trâu Qu?', N'Vietnam', CAST(837887 AS Numeric(18, 0)), N'Male', N'401-183-5025', N'fstreetd@irs.gov', N'Single', N'White     ', 30674, CAST(3 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(114 AS Numeric(18, 0)), N'Jarvis', N'Rillstone', N'Coop', CAST(N'2072-12-26' AS Date), N'216-14-6163', NULL, N'6536 Aberg Crossing', N'74 5th Alley', N'Th? Tr?n Yên Châu', N'Vietnam', CAST(873345 AS Numeric(18, 0)), N'Male', N'429-370-0179', N'crillstonee@chronoengine.com', N'Widowed', N'White     ', 11387, CAST(1 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(115 AS Numeric(18, 0)), N'Minetta', N'Sunner', N'Jessalin', CAST(N'2044-03-28' AS Date), N'791-04-2463', NULL, N'339 Tony Park', N'0423 Fremont Parkway', N'Th? Tr?n Na Hang', N'Vietnam', CAST(88220 AS Numeric(18, 0)), N'Female', N'476-149-8756', N'jsunnerf@amazon.de', N'Married', N'Black     ', 30261, CAST(2 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(116 AS Numeric(18, 0)), N'Lemar', N'Hepher', N'Adolphe', CAST(N'2061-09-19' AS Date), N'221-46-7826', NULL, N'8800 Leroy Hill', N'4 Johnson Alley', N'An Châu', N'Vietnam', CAST(438058 AS Numeric(18, 0)), N'Male', N'170-496-6432', N'ahepherg@de.vu', N'Separated', N'White     ', 1530, CAST(2 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(117 AS Numeric(18, 0)), N'Lanette', N'Clashe', N'Aloise', CAST(N'2042-10-01' AS Date), N'876-96-2378', NULL, N'17459 Coleman Parkway', N'96706 Lillian Park', N'Th? Tr?n B?c Yên', N'Vietnam', CAST(108405 AS Numeric(18, 0)), N'Female', N'266-982-9394', N'aclasheh@blinklist.com', N'Separated', N'American  ', 27878, CAST(5 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(118 AS Numeric(18, 0)), N'Antonella', N'Dunseath', N'Ethel', CAST(N'1904-06-14' AS Date), N'432-41-3236', NULL, N'0 Waubesa Lane', N'4086 Summerview Plaza', N'Van Giang', N'Vietnam', CAST(116652 AS Numeric(18, 0)), N'Female', N'282-761-8174', N'edunseathi@flavors.me', N'Single', N'Black     ', 19042, CAST(3 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(119 AS Numeric(18, 0)), N'Arlene', N'McCrudden', N'Denni', CAST(N'2052-12-10' AS Date), N'140-51-2442', NULL, N'610 Dunning Parkway', N'29 Kedzie Parkway', N'Cao Thu?ng', N'Vietnam', CAST(137143 AS Numeric(18, 0)), N'Female', N'534-148-8394', N'dmccruddenj@slashdot.org', N'Married', N'White     ', 13113, CAST(5 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(120 AS Numeric(18, 0)), N'Teodoro', N'Laurie', N'Lanni', CAST(N'1952-10-27' AS Date), N'745-33-7220', NULL, N'93194 Porter Street', N'0 Di Loreto Drive', N'Th? Tr?n Yên Châu', N'Vietnam', CAST(676953 AS Numeric(18, 0)), N'Bigender', N'340-587-6613', N'llauriek@redcross.org', N'Single', N'Hispanic  ', 31872, CAST(3 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(121 AS Numeric(18, 0)), N'Carson', N'Bevington', N'Gordie', CAST(N'2071-05-25' AS Date), N'764-46-9573', NULL, N'325 Duke Alley', N'88872 Fordem Junction', N'Th? Tr?n Nguyên Bình', N'Vietnam', CAST(660781 AS Numeric(18, 0)), N'Male', N'445-493-4850', N'gbevingtonl@aboutads.info', N'Single', N'Black     ', 13888, CAST(4 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(122 AS Numeric(18, 0)), N'Terrance', N'Strooband', N'Wolfgang', CAST(N'2084-11-03' AS Date), N'795-25-6041', NULL, N'9652 Manitowish Lane', N'59 Troy Road', N'Haiphong', N'Vietnam', CAST(741755 AS Numeric(18, 0)), N'Male', N'268-646-7167', N'wstroobandm@dedecms.com', N'Divorced', N'Hispanic  ', 29532, CAST(4 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(123 AS Numeric(18, 0)), N'Shaun', N'Di Lucia', N'Stu', CAST(N'1925-04-02' AS Date), N'186-84-0382', NULL, N'592 Roth Way', N'42227 Valley Edge Lane', N'Ða´k Glei', N'Vietnam', CAST(458724 AS Numeric(18, 0)), N'Male', N'976-170-4157', N'sdilucian@feedburner.com', N'Married', N'White     ', 32632, CAST(1 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(124 AS Numeric(18, 0)), N'Ayn', N'Embury', N'Rani', CAST(N'2010-03-22' AS Date), N'203-73-8633', NULL, N'97540 Ridgeview Point', N'2 Melby Junction', N'Ðuc Tr?ng', N'Vietnam', CAST(653646 AS Numeric(18, 0)), N'Female', N'908-516-8851', N'remburyo@yahoo.com', N'Divorced', N'Other     ', 23307, CAST(1 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(125 AS Numeric(18, 0)), N'Tabby', N'Dunsford', N'Banky', CAST(N'1923-09-26' AS Date), N'299-97-8472', NULL, N'7125 Sage Circle', N'03778 Steensland Trail', N'Phù Cát', N'Vietnam', CAST(500726 AS Numeric(18, 0)), N'Male', N'383-590-3710', N'bdunsfordp@buzzfeed.com', N'Married', N'Black     ', 24801, CAST(4 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(126 AS Numeric(18, 0)), N'Michael', N'Baskeyfield', N'Fax', CAST(N'1904-04-06' AS Date), N'200-03-3734', NULL, N'01 East Hill', N'6 Becker Junction', N'Th? Tr?n Thanh Luu', N'Vietnam', CAST(181462 AS Numeric(18, 0)), N'Male', N'930-758-2150', N'fbaskeyfieldq@xinhuanet.com', N'Widowed', N'American  ', 20046, CAST(1 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(127 AS Numeric(18, 0)), N'Nickie', N'Neaves', N'Loydie', CAST(N'2023-03-14' AS Date), N'471-01-8171', NULL, N'7291 Golden Leaf Parkway', N'796 Calypso Junction', N'Th? Tr?n Hùng Qu?c', N'Vietnam', CAST(986013 AS Numeric(18, 0)), N'Male', N'467-112-2780', N'lneavesr@cnet.com', N'Separated', N'Asian     ', 19366, CAST(3 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(128 AS Numeric(18, 0)), N'Marion', N'Baggaley', N'Dominick', CAST(N'1975-03-01' AS Date), N'260-82-9545', NULL, N'21070 Pennsylvania Point', N'93176 Macpherson Plaza', N'Phú Vang', N'Vietnam', CAST(181167 AS Numeric(18, 0)), N'Male', N'473-436-3479', N'dbaggaleys@chron.com', N'Divorced', N'American  ', 11572, CAST(2 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(129 AS Numeric(18, 0)), N'Merrielle', N'Ellwood', N'Jacquette', CAST(N'2008-01-14' AS Date), N'255-12-6693', NULL, N'384 Bunker Hill Circle', N'731 Comanche Place', N'Ð?ng Ða', N'Vietnam', CAST(913480 AS Numeric(18, 0)), N'Female', N'211-625-8210', N'jellwoodt@clickbank.net', N'Single', N'Black     ', 3549, CAST(5 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(130 AS Numeric(18, 0)), N'Milt', N'Layburn', N'Indira', CAST(N'2071-09-30' AS Date), N'297-62-2625', NULL, N'6233 Ridge Oak Plaza', N'55 Reinke Pass', N'Thanh Khê', N'Vietnam', CAST(777895 AS Numeric(18, 0)), N'Bigender', N'301-765-5318', N'ilayburnu@gravatar.com', N'Separated', N'Other     ', 29906, CAST(1 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(131 AS Numeric(18, 0)), N'Jedidiah', N'Branno', N'Roley', CAST(N'2056-04-08' AS Date), N'169-51-1345', NULL, N'75304 Eagan Terrace', N'0 Crownhardt Plaza', N'Ð?ng M?', N'Vietnam', CAST(217298 AS Numeric(18, 0)), N'Male', N'584-823-6194', N'rbrannov@ustream.tv', N'Separated', N'Hispanic  ', 31842, CAST(2 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(132 AS Numeric(18, 0)), N'Toiboid', N'Tuff', N'Peder', CAST(N'1917-07-06' AS Date), N'321-57-5827', NULL, N'4 Bultman Circle', N'9 Gale Junction', N'Son Tây', N'Vietnam', CAST(789511 AS Numeric(18, 0)), N'Male', N'778-766-4509', N'ptuffw@eepurl.com', N'Separated', N'Asian     ', 28753, CAST(2 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(133 AS Numeric(18, 0)), N'Joly', N'Applin', N'Conney', CAST(N'2100-07-03' AS Date), N'133-48-1576', NULL, N'02 Westport Lane', N'163 Namekagon Way', N'B?n Tre', N'Vietnam', CAST(644634 AS Numeric(18, 0)), N'Polygender', N'236-567-3702', N'capplinx@icio.us', N'Married', N'Other     ', 19489, CAST(2 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(134 AS Numeric(18, 0)), N'Kesley', N'Corkitt', N'Sadie', CAST(N'2007-02-27' AS Date), N'613-49-3731', NULL, N'2 Birchwood Plaza', N'29707 Green Park', N'Thành Ph? Nam Ð?nh', N'Vietnam', CAST(447659 AS Numeric(18, 0)), N'Female', N'729-209-2494', N'scorkitty@fotki.com', N'Widowed', N'Black     ', 27225, CAST(5 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(135 AS Numeric(18, 0)), N'Delcina', N'Izakov', N'Had', CAST(N'2052-05-10' AS Date), N'591-13-8651', NULL, N'134 Hermina Pass', N'389 Warrior Avenue', N'Ngô Ð?ng', N'Vietnam', CAST(242011 AS Numeric(18, 0)), N'Genderqueer', N'292-840-6110', N'hizakovz@google.com', N'Married', N'Asian     ', 5023, CAST(2 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(136 AS Numeric(18, 0)), N'Howie', N'Hoyles', N'Nikita', CAST(N'1926-07-24' AS Date), N'229-91-0274', NULL, N'8196 Bultman Alley', N'6936 Bunting Plaza', N'Th? Tr?n Phu?c B?u', N'Vietnam', CAST(951095 AS Numeric(18, 0)), N'Male', N'458-436-3901', N'nhoyles10@cisco.com', N'Widowed', N'White     ', 9730, CAST(3 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(137 AS Numeric(18, 0)), N'Mischa', N'Kunert', N'Jonas', CAST(N'1999-08-09' AS Date), N'429-30-2554', NULL, N'5829 Karstens Terrace', N'9026 Nevada Road', N'Gio Linh', N'Vietnam', CAST(658644 AS Numeric(18, 0)), N'Male', N'958-260-3741', N'jkunert11@cbc.ca', N'Single', N'Other     ', 18735, CAST(3 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(138 AS Numeric(18, 0)), N'Eugene', N'O''Bradane', N'Gardy', CAST(N'1961-11-16' AS Date), N'210-82-0525', NULL, N'05427 Lindbergh Hill', N'6 Buena Vista Parkway', N'Tân K?', N'Vietnam', CAST(943758 AS Numeric(18, 0)), N'Male', N'543-706-2811', N'gobradane12@stumbleupon.com', N'Divorced', N'Asian     ', 15805, CAST(5 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(139 AS Numeric(18, 0)), N'Ezekiel', N'Bretelle', N'Darrin', CAST(N'2005-02-23' AS Date), N'415-28-9642', NULL, N'8 1st Alley', N'07243 Rigney Circle', N'Th? Tr?n Ng?i Giao', N'Vietnam', CAST(117826 AS Numeric(18, 0)), N'Male', N'429-854-6455', N'dbretelle13@ehow.com', N'Single', N'White     ', 26932, CAST(2 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(140 AS Numeric(18, 0)), N'Ferdie', N'Cash', N'Pattin', CAST(N'2024-08-24' AS Date), N'736-72-3710', NULL, N'293 Stang Drive', N'480 Doe Crossing Way', N'Tam Bình', N'Vietnam', CAST(602613 AS Numeric(18, 0)), N'Male', N'695-139-3569', N'pcash14@cyberchimps.com', N'Widowed', N'Black     ', 29963, CAST(4 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(141 AS Numeric(18, 0)), N'Morry', N'Aires', N'Creighton', CAST(N'2037-07-08' AS Date), N'326-94-4607', NULL, N'70 Sullivan Center', N'3854 Harper Alley', N'Tr?ng Bàng', N'Vietnam', CAST(773992 AS Numeric(18, 0)), N'Male', N'512-851-5640', N'caires15@com.com', N'Widowed', N'Black     ', 3836, CAST(4 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(142 AS Numeric(18, 0)), N'Emelen', N'Benz', N'Patton', CAST(N'2059-06-22' AS Date), N'883-73-1627', NULL, N'2386 Merry Park', N'7371 West Junction', N'Lung H?', N'Vietnam', CAST(730896 AS Numeric(18, 0)), N'Male', N'959-286-0062', N'pbenz16@creativecommons.org', N'Married', N'White     ', 31140, CAST(1 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(143 AS Numeric(18, 0)), N'Harold', N'Morffew', N'Cordie', CAST(N'2060-07-05' AS Date), N'709-44-0249', NULL, N'31 Namekagon Way', N'05 Lukken Lane', N'Cái Nhum', N'Vietnam', CAST(794045 AS Numeric(18, 0)), N'Male', N'444-943-7053', N'cmorffew17@spiegel.de', N'Divorced', N'Hispanic  ', 26811, CAST(2 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(144 AS Numeric(18, 0)), N'Alyce', N'Lesaunier', N'Maurita', CAST(N'2048-12-07' AS Date), N'797-71-3761', NULL, N'2 Havey Pass', N'7214 Raven Alley', N'Bình Th?y', N'Vietnam', CAST(922110 AS Numeric(18, 0)), N'Female', N'873-206-9280', N'mlesaunier18@japanpost.jp', N'Single', N'Hispanic  ', 21919, CAST(1 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(145 AS Numeric(18, 0)), N'Fields', N'Robbel', N'Serge', CAST(N'2092-01-24' AS Date), N'898-66-7625', NULL, N'674 Pierstorff Alley', N'30 Fallview Hill', N'Núi S?p', N'Vietnam', CAST(119999 AS Numeric(18, 0)), N'Male', N'696-484-6422', N'srobbel19@timesonline.co.uk', N'Married', N'Black     ', 28982, CAST(3 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(146 AS Numeric(18, 0)), N'Romona', N'Royston', N'Suzi', CAST(N'1930-10-04' AS Date), N'111-70-2489', NULL, N'45 West Alley', N'36005 Cardinal Pass', N'Bích Ð?ng', N'Vietnam', CAST(602157 AS Numeric(18, 0)), N'Female', N'201-309-5151', N'sroyston1a@clickbank.net', N'Single', N'Asian     ', 11756, CAST(3 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(147 AS Numeric(18, 0)), N'Felice', N'Jobbings', N'Dani', CAST(N'2092-01-02' AS Date), N'629-48-9111', NULL, N'34 David Place', N'8 Ludington Drive', N'Hà Ðông', N'Vietnam', CAST(122219 AS Numeric(18, 0)), N'Male', N'697-645-3720', N'djobbings1b@comcast.net', N'Widowed', N'Other     ', 3202, CAST(5 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(148 AS Numeric(18, 0)), N'Daphne', N'Jeske', N'Perla', CAST(N'1996-06-13' AS Date), N'769-43-2613', NULL, N'6326 Laurel Plaza', N'0 Hooker Drive', N'Long Hô`', N'Vietnam', CAST(459336 AS Numeric(18, 0)), N'Female', N'815-990-1108', N'pjeske1c@amazon.co.jp', N'Divorced', N'Asian     ', 7897, CAST(4 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(149 AS Numeric(18, 0)), N'Agosto', N'Wigginton', N'Nealson', CAST(N'2015-10-03' AS Date), N'473-95-4763', NULL, N'1 Rusk Lane', N'71 American Ash Circle', N'Huong Son', N'Vietnam', CAST(212499 AS Numeric(18, 0)), N'Male', N'136-137-7164', N'nwigginton1d@indiatimes.com', N'Widowed', N'Asian     ', 24425, CAST(5 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(150 AS Numeric(18, 0)), N'Berkly', N'McCrillis', N'Ransom', CAST(N'2030-09-21' AS Date), N'397-95-3858', NULL, N'3400 Lighthouse Bay Road', N'46 Susan Pass', N'Th? Tr?n Nghèn', N'Vietnam', CAST(24504 AS Numeric(18, 0)), N'Male', N'679-426-8738', N'rmccrillis1e@answers.com', N'Widowed', N'Hispanic  ', 32385, CAST(5 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(151 AS Numeric(18, 0)), N'Terrance', N'McGrail', N'Horace', CAST(N'2038-08-04' AS Date), N'705-26-0622', NULL, N'438 Moland Place', N'0527 Blaine Road', N'Di Linh', N'Vietnam', CAST(743672 AS Numeric(18, 0)), N'Male', N'247-405-4067', N'hmcgrail1f@upenn.edu', N'Separated', N'Hispanic  ', 29749, CAST(4 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(152 AS Numeric(18, 0)), N'Cindee', N'Handman', N'Heida', CAST(N'2099-04-23' AS Date), N'315-23-8469', NULL, N'88630 Warner Avenue', N'3 Macpherson Junction', N'Th? Tr?n Pác Mi?u', N'Vietnam', CAST(976481 AS Numeric(18, 0)), N'Female', N'648-904-1562', N'hhandman1g@google.com', N'Separated', N'Hispanic  ', 5666, CAST(4 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(153 AS Numeric(18, 0)), N'Ettie', N'Godbert', N'Brandea', CAST(N'2032-09-29' AS Date), N'148-73-3322', NULL, N'255 Mcbride Hill', N'62433 Vera Street', N'Th? Tr?n Mù Cang Ch?i', N'Vietnam', CAST(710489 AS Numeric(18, 0)), N'Female', N'802-642-4222', N'bgodbert1h@wsj.com', N'Single', N'Asian     ', 30165, CAST(5 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(154 AS Numeric(18, 0)), N'Marissa', N'Proudley', N'Caroline', CAST(N'1920-06-26' AS Date), N'366-22-5868', NULL, N'0 Cambridge Drive', N'0541 Namekagon Hill', N'Yên L?c', N'Vietnam', CAST(494703 AS Numeric(18, 0)), N'Agender', N'481-109-5869', N'cproudley1i@telegraph.co.uk', N'Married', N'American  ', 16058, CAST(3 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(155 AS Numeric(18, 0)), N'Lilias', N'Jarrett', N'Caro', CAST(N'1992-10-30' AS Date), N'456-88-4501', NULL, N'15 Northridge Lane', N'9 Mitchell Circle', N'Ch? G?o', N'Vietnam', CAST(864723 AS Numeric(18, 0)), N'Female', N'578-809-5148', N'cjarrett1j@unc.edu', N'Divorced', N'American  ', 28112, CAST(4 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(156 AS Numeric(18, 0)), N'Johanna', N'Kiehnlt', N'Laurella', CAST(N'1913-03-21' AS Date), N'576-73-5477', NULL, N'9 Mosinee Pass', N'739 Haas Court', N'Cái D?u', N'Vietnam', CAST(169072 AS Numeric(18, 0)), N'Female', N'325-519-6386', N'lkiehnlt1k@pbs.org', N'Widowed', N'Black     ', 16607, CAST(4 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(157 AS Numeric(18, 0)), N'Salomone', N'Ellett', N'Reinaldo', CAST(N'1935-10-15' AS Date), N'615-40-0423', NULL, N'71 Rutledge Point', N'9093 Thackeray Way', N'Th? Tr?n Quan Hóa', N'Vietnam', CAST(734037 AS Numeric(18, 0)), N'Male', N'938-969-9253', N'rellett1l@china.com.cn', N'Divorced', N'Asian     ', 26802, CAST(5 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(158 AS Numeric(18, 0)), N'Zeke', N'Plewman', N'Kenyon', CAST(N'2055-05-24' AS Date), N'561-46-3357', NULL, N'56 Blue Bill Park Center', N'612 Welch Junction', N'Qu? Châu', N'Vietnam', CAST(521811 AS Numeric(18, 0)), N'Male', N'886-131-1992', N'kplewman1m@psu.edu', N'Widowed', N'White     ', 8831, CAST(3 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(159 AS Numeric(18, 0)), N'Melina', N'Danielis', N'Vonni', CAST(N'1909-04-01' AS Date), N'255-63-3858', NULL, N'04 Morning Trail', N'42620 Marcy Road', N'Giemdiem', N'Vietnam', CAST(777579 AS Numeric(18, 0)), N'Agender', N'814-871-8195', N'vdanielis1n@creativecommons.org', N'Married', N'White     ', 4516, CAST(2 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(160 AS Numeric(18, 0)), N'Tam', N'de Almeida', N'Maynard', CAST(N'1993-02-25' AS Date), N'506-01-9650', NULL, N'2683 Loomis Terrace', N'17044 Iowa Circle', N'Khe Tre', N'Vietnam', CAST(619138 AS Numeric(18, 0)), N'Male', N'605-996-3988', N'mdealmeida1o@washingtonpost.com', N'Single', N'Asian     ', 19695, CAST(3 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(161 AS Numeric(18, 0)), N'Israel', N'Giraudou', N'Burnard', CAST(N'2030-10-09' AS Date), N'105-06-9595', NULL, N'5278 Aberg Place', N'349 Corscot Hill', N'Ngã B?y', N'Vietnam', CAST(431589 AS Numeric(18, 0)), N'Male', N'619-907-9598', N'bgiraudou1p@hugedomains.com', N'Single', N'Asian     ', 26707, CAST(4 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(162 AS Numeric(18, 0)), N'Julianna', N'Patillo', N'Tabbie', CAST(N'2068-10-24' AS Date), N'265-21-8004', NULL, N'04 Eastwood Circle', N'245 Burning Wood Park', N'Th? Tr?n Yên Th?nh', N'Vietnam', CAST(443195 AS Numeric(18, 0)), N'Female', N'530-493-7189', N'tpatillo1q@drupal.org', N'Divorced', N'American  ', 19052, CAST(5 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(163 AS Numeric(18, 0)), N'Tarrance', N'Widdowson', N'Abbey', CAST(N'1948-06-05' AS Date), N'492-20-7850', NULL, N'83726 Bonner Center', N'7 Shopko Avenue', N'Hà Tinh', N'Vietnam', CAST(49922 AS Numeric(18, 0)), N'Male', N'523-451-4241', N'awiddowson1r@w3.org', N'Separated', N'White     ', 30239, CAST(4 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(164 AS Numeric(18, 0)), N'Darby', N'Jerger', N'Ilaire', CAST(N'1947-10-01' AS Date), N'676-83-2730', NULL, N'0362 Mariners Cove Pass', N'83 Dennis Place', N'B?ng Lung', N'Vietnam', CAST(304589 AS Numeric(18, 0)), N'Male', N'935-940-4390', N'ijerger1s@elegantthemes.com', N'Divorced', N'Hispanic  ', 30135, CAST(4 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(165 AS Numeric(18, 0)), N'Ginger', N'Bigland', N'Cordelia', CAST(N'2062-12-14' AS Date), N'280-77-5206', NULL, N'1635 Beilfuss Place', N'55304 Evergreen Trail', N'Cai Doi Vam', N'Vietnam', CAST(444672 AS Numeric(18, 0)), N'Female', N'415-301-1004', N'cbigland1t@creativecommons.org', N'Widowed', N'Other     ', 4875, CAST(4 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(166 AS Numeric(18, 0)), N'Colver', N'Petracek', N'Payton', CAST(N'2092-09-23' AS Date), N'278-76-6389', NULL, N'87782 Dayton Drive', N'21804 Springs Avenue', N'Th? Tr?n Vi?t Lâm', N'Vietnam', CAST(626843 AS Numeric(18, 0)), N'Male', N'829-312-1310', N'ppetracek1u@godaddy.com', N'Single', N'Other     ', 31684, CAST(1 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(167 AS Numeric(18, 0)), N'Keenan', N'Ferre', N'Gilles', CAST(N'2056-11-02' AS Date), N'273-01-2310', NULL, N'53190 Doe Crossing Circle', N'47 Waubesa Crossing', N'T?m Vu', N'Vietnam', CAST(974794 AS Numeric(18, 0)), N'Male', N'132-751-5580', N'gferre1v@wordpress.org', N'Married', N'White     ', 9888, CAST(2 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(168 AS Numeric(18, 0)), N'Orlan', N'Caulcott', N'Saxon', CAST(N'1939-10-09' AS Date), N'477-43-9018', NULL, N'06163 Helena Court', N'915 Annamark Plaza', N'Hung Nguyên', N'Vietnam', CAST(385349 AS Numeric(18, 0)), N'Male', N'824-575-1203', N'scaulcott1w@weibo.com', N'Widowed', N'Black     ', 12508, CAST(4 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(169 AS Numeric(18, 0)), N'Adler', N'Whitney', N'Thatcher', CAST(N'2032-06-18' AS Date), N'258-43-0942', NULL, N'92376 Algoma Avenue', N'0030 Duke Plaza', N'Th? Tr?n Tam Son', N'Vietnam', CAST(821109 AS Numeric(18, 0)), N'Male', N'446-129-0322', N'twhitney1x@plala.or.jp', N'Widowed', N'Other     ', 23767, CAST(1 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(170 AS Numeric(18, 0)), N'Andros', N'Cornbell', N'Sherm', CAST(N'1904-12-21' AS Date), N'192-29-0097', NULL, N'931 Esch Center', N'202 Green Ridge Crossing', N'Thành Ph? L?ng Son', N'Vietnam', CAST(578422 AS Numeric(18, 0)), N'Bigender', N'624-146-0658', N'scornbell1y@psu.edu', N'Widowed', N'American  ', 23967, CAST(5 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(171 AS Numeric(18, 0)), N'Juli', N'Peggs', N'Giuditta', CAST(N'2049-05-25' AS Date), N'677-50-4083', NULL, N'670 5th Trail', N'79 Artisan Drive', N'Th? Xã Lai Châu', N'Vietnam', CAST(157882 AS Numeric(18, 0)), N'Non-binary', N'619-473-1567', N'gpeggs1z@webs.com', N'Single', N'Other     ', 1522, CAST(3 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(172 AS Numeric(18, 0)), N'Shaylah', N'McLurg', N'Ermina', CAST(N'1933-10-12' AS Date), N'215-39-8650', NULL, N'526 Westerfield Street', N'170 Kensington Trail', N'Tô H?p', N'Vietnam', CAST(752055 AS Numeric(18, 0)), N'Female', N'359-890-9078', N'emclurg20@facebook.com', N'Divorced', N'American  ', 21963, CAST(4 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(173 AS Numeric(18, 0)), N'Tamra', N'Mannie', N'Channa', CAST(N'2003-11-26' AS Date), N'893-84-8383', NULL, N'38553 Green Trail', N'511 Green Ridge Circle', N'Th? Tr?n Quán Lào', N'Vietnam', CAST(943221 AS Numeric(18, 0)), N'Female', N'690-877-9481', N'cmannie21@bravesites.com', N'Widowed', N'Black     ', 4646, CAST(2 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(174 AS Numeric(18, 0)), N'Mal', N'Ramsby', N'My', CAST(N'1913-06-23' AS Date), N'494-03-4845', NULL, N'8 Hovde Hill', N'46 Schlimgen Street', N'Long Xuyên', N'Vietnam', CAST(200849 AS Numeric(18, 0)), N'Genderfluid', N'561-282-4350', N'mramsby22@disqus.com', N'Separated', N'Black     ', 4913, CAST(3 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(175 AS Numeric(18, 0)), N'Bernadina', N'Josselsohn', N'Hildegaard', CAST(N'1934-06-17' AS Date), N'565-32-8890', NULL, N'37 Bashford Crossing', N'07021 Old Shore Hill', N'Th? Tr?n Mù Cang Ch?i', N'Vietnam', CAST(572516 AS Numeric(18, 0)), N'Female', N'775-616-2151', N'hjosselsohn23@naver.com', N'Separated', N'Asian     ', 21547, CAST(1 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(176 AS Numeric(18, 0)), N'Fifi', N'Hamon', N'Clovis', CAST(N'1905-07-13' AS Date), N'809-97-6155', NULL, N'8 Sloan Parkway', N'79 Ludington Court', N'Di An', N'Vietnam', CAST(429281 AS Numeric(18, 0)), N'Female', N'605-354-1704', N'chamon24@forbes.com', N'Divorced', N'American  ', 20063, CAST(1 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(177 AS Numeric(18, 0)), N'Rolando', N'Mylechreest', N'Wendall', CAST(N'2094-11-05' AS Date), N'802-37-1378', NULL, N'654 Fieldstone Alley', N'15 Northridge Junction', N'Hung Yên', N'Vietnam', CAST(605320 AS Numeric(18, 0)), N'Male', N'269-223-4104', N'wmylechreest25@mit.edu', N'Married', N'White     ', 15243, CAST(3 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(178 AS Numeric(18, 0)), N'Kristopher', N'Zelake', N'Tad', CAST(N'1904-07-18' AS Date), N'623-05-3927', NULL, N'695 Forest Way', N'3 Bluejay Alley', N'Bích Ð?ng', N'Vietnam', CAST(568889 AS Numeric(18, 0)), N'Male', N'583-637-1685', N'tzelake26@nymag.com', N'Widowed', N'White     ', 15242, CAST(1 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(179 AS Numeric(18, 0)), N'Iolande', N'Kynge', N'Tricia', CAST(N'2040-10-07' AS Date), N'251-51-3747', NULL, N'83 Quincy Alley', N'46323 Schurz Alley', N'Tha?nh My~', N'Vietnam', CAST(400556 AS Numeric(18, 0)), N'Female', N'494-722-0185', N'tkynge27@usnews.com', N'Widowed', N'Other     ', 30744, CAST(1 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(180 AS Numeric(18, 0)), N'Bernadene', N'Assur', N'Eleen', CAST(N'2035-03-09' AS Date), N'891-78-2322', NULL, N'01 Kinsman Center', N'06353 Myrtle Place', N'Quy Ða?t', N'Vietnam', CAST(509353 AS Numeric(18, 0)), N'Female', N'132-871-3997', N'eassur28@constantcontact.com', N'Single', N'American  ', 25299, CAST(1 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(181 AS Numeric(18, 0)), N'Carmencita', N'Meyrick', N'Bride', CAST(N'1982-05-05' AS Date), N'328-45-9200', NULL, N'2646 Linden Center', N'23 Canary Street', N'Nhà Bàng', N'Vietnam', CAST(816305 AS Numeric(18, 0)), N'Female', N'572-264-9159', N'bmeyrick29@deviantart.com', N'Widowed', N'Hispanic  ', 8359, CAST(4 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(182 AS Numeric(18, 0)), N'Mata', N'Meegin', N'Haily', CAST(N'2081-01-21' AS Date), N'220-67-6474', NULL, N'8 Messerschmidt Plaza', N'41 Hauk Road', N'Tân Hi?p', N'Vietnam', CAST(516235 AS Numeric(18, 0)), N'Male', N'208-378-0430', N'hmeegin2a@ustream.tv', N'Divorced', N'Other     ', 29755, CAST(5 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(183 AS Numeric(18, 0)), N'Twyla', N'O''Riordan', N'Delores', CAST(N'1955-01-21' AS Date), N'100-18-9232', NULL, N'46301 Westridge Crossing', N'6 Washington Lane', N'A Yun Pa', N'Vietnam', CAST(927265 AS Numeric(18, 0)), N'Female', N'348-170-2146', N'doriordan2b@reuters.com', N'Single', N'Other     ', 21263, CAST(2 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(184 AS Numeric(18, 0)), N'Clayborn', N'Scotchmer', N'Dev', CAST(N'1982-11-17' AS Date), N'831-86-6056', NULL, N'94 Meadow Vale Trail', N'920 Chive Terrace', N'Nha Trang', N'Vietnam', CAST(432321 AS Numeric(18, 0)), N'Male', N'375-369-6247', N'dscotchmer2c@youku.com', N'Single', N'Other     ', 13030, CAST(1 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(185 AS Numeric(18, 0)), N'Bennie', N'Crucetti', N'Daven', CAST(N'2016-09-22' AS Date), N'433-77-0666', NULL, N'20384 Graedel Junction', N'1418 Myrtle Terrace', N'Tr?ng Bàng', N'Vietnam', CAST(55937 AS Numeric(18, 0)), N'Male', N'777-169-1160', N'dcrucetti2d@unc.edu', N'Single', N'White     ', 20533, CAST(4 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(186 AS Numeric(18, 0)), N'Pru', N'Tottem', N'Scarlet', CAST(N'1961-09-25' AS Date), N'323-07-9675', NULL, N'84 Debs Circle', N'4 Washington Road', N'?p Tân Ngãi', N'Vietnam', CAST(957910 AS Numeric(18, 0)), N'Female', N'492-181-6978', N'stottem2e@alibaba.com', N'Widowed', N'Asian     ', 5358, CAST(1 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(187 AS Numeric(18, 0)), N'Nert', N'Nielson', N'Eadith', CAST(N'2097-06-30' AS Date), N'773-75-8315', NULL, N'42691 Bonner Lane', N'3 Northwestern Parkway', N'Thành Ph? L?ng Son', N'Vietnam', CAST(36865 AS Numeric(18, 0)), N'Female', N'958-210-4260', N'enielson2f@t-online.de', N'Married', N'Other     ', 18091, CAST(4 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(188 AS Numeric(18, 0)), N'Marga', N'Baines', N'Sheeree', CAST(N'1927-12-21' AS Date), N'643-48-6002', NULL, N'3839 Prentice Parkway', N'97 Briar Crest Alley', N'Th? Tr?n Hà Trung', N'Vietnam', CAST(227360 AS Numeric(18, 0)), N'Female', N'940-604-6858', N'sbaines2g@nbcnews.com', N'Widowed', N'White     ', 19470, CAST(5 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(189 AS Numeric(18, 0)), N'Gretal', N'Labeuil', N'Lori', CAST(N'2072-10-12' AS Date), N'419-89-0781', NULL, N'7765 Sheridan Pass', N'883 Morningstar Park', N'Prao', N'Vietnam', CAST(30572 AS Numeric(18, 0)), N'Female', N'808-937-8182', N'llabeuil2h@ihg.com', N'Married', N'Hispanic  ', 6085, CAST(2 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(190 AS Numeric(18, 0)), N'Aida', N'Perle', N'Neda', CAST(N'2013-08-14' AS Date), N'235-69-8967', NULL, N'197 Ruskin Terrace', N'32547 Bashford Circle', N'Thanh Xuân', N'Vietnam', CAST(598901 AS Numeric(18, 0)), N'Female', N'259-911-3931', N'nperle2i@dagondesign.com', N'Married', N'American  ', 5535, CAST(2 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(191 AS Numeric(18, 0)), N'Annnora', N'Dring', N'Jesselyn', CAST(N'1933-11-05' AS Date), N'545-25-2084', NULL, N'74 Esch Center', N'000 Dennis Park', N'Phù M?', N'Vietnam', CAST(270546 AS Numeric(18, 0)), N'Female', N'592-107-8198', N'jdring2j@imageshack.us', N'Separated', N'Hispanic  ', 4259, CAST(4 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(192 AS Numeric(18, 0)), N'Hagen', N'Tapsell', N'Claudianus', CAST(N'1954-02-01' AS Date), N'508-63-5640', NULL, N'0 Meadow Ridge Place', N'39548 Stuart Crossing', N'Ðuc Tr?ng', N'Vietnam', CAST(226739 AS Numeric(18, 0)), N'Male', N'561-589-7338', N'ctapsell2k@is.gd', N'Married', N'Black     ', 2953, CAST(1 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(193 AS Numeric(18, 0)), N'Durant', N'Tampling', N'Orv', CAST(N'2094-07-31' AS Date), N'693-17-3660', NULL, N'4627 Southridge Center', N'37638 Farwell Street', N'Bình Th?y', N'Vietnam', CAST(975827 AS Numeric(18, 0)), N'Male', N'573-892-3891', N'otampling2l@comcast.net', N'Divorced', N'American  ', 7705, CAST(2 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(194 AS Numeric(18, 0)), N'Honoria', N'Maccrea', N'Jilli', CAST(N'1997-05-24' AS Date), N'339-71-5445', NULL, N'593 Fremont Court', N'208 Kedzie Pass', N'Ðà B?c', N'Vietnam', CAST(874040 AS Numeric(18, 0)), N'Female', N'428-443-9038', N'jmaccrea2m@examiner.com', N'Widowed', N'Hispanic  ', 1957, CAST(1 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(195 AS Numeric(18, 0)), N'Elston', N'Mirfin', N'Cammy', CAST(N'1912-12-30' AS Date), N'558-24-4426', NULL, N'56 Old Gate Way', N'254 Armistice Place', N'Phú M?', N'Vietnam', CAST(309906 AS Numeric(18, 0)), N'Male', N'600-545-7839', N'cmirfin2n@webeden.co.uk', N'Divorced', N'White     ', 10537, CAST(2 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(196 AS Numeric(18, 0)), N'Pepi', N'Durak', N'Raychel', CAST(N'1900-01-11' AS Date), N'672-51-9488', NULL, N'45720 Spaight Point', N'65229 Fair Oaks Place', N'L?p Vò', N'Vietnam', CAST(313504 AS Numeric(18, 0)), N'Female', N'258-949-1964', N'rdurak2o@acquirethisname.com', N'Married', N'Asian     ', 27405, CAST(5 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(197 AS Numeric(18, 0)), N'Gordie', N'Alleburton', N'Cirillo', CAST(N'1961-02-22' AS Date), N'494-01-8552', NULL, N'02 Jay Crossing', N'72 Debs Way', N'Tr?i', N'Vietnam', CAST(463852 AS Numeric(18, 0)), N'Male', N'777-488-0933', N'calleburton2p@bbc.co.uk', N'Divorced', N'White     ', 31464, CAST(1 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(198 AS Numeric(18, 0)), N'Clint', N'Tinman', N'Walt', CAST(N'2006-06-24' AS Date), N'396-79-9918', NULL, N'415 Sheridan Lane', N'3865 John Wall Place', N'Th? Tr?n Cao L?c', N'Vietnam', CAST(142503 AS Numeric(18, 0)), N'Male', N'320-636-8092', N'wtinman2q@spotify.com', N'Single', N'Hispanic  ', 6380, CAST(1 AS Numeric(18, 0)))
GO

In [0]:
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(199 AS Numeric(18, 0)), N'Benni', N'MacCarlich', N'Lane', CAST(N'2042-03-10' AS Date), N'848-27-9140', NULL, N'1 Ridge Oak Lane', N'7 Sycamore Circle', N'Th? Tr?n C?m Th?y', N'Vietnam', CAST(677171 AS Numeric(18, 0)), N'Female', N'835-137-5155', N'lmaccarlich2r@businesswire.com', N'Married', N'Asian     ', 28026, CAST(2 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(200 AS Numeric(18, 0)), N'Hero', N'sunosi', NULL, NULL, N'123', NULL, N'vinh', NULL, N'hà nội', NULL, NULL, N'male', NULL, NULL, NULL, NULL, 45, CAST(3 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(301 AS Numeric(18, 0)), N'gafw', N'aggw', NULL, NULL, NULL, NULL, N'string', NULL, NULL, NULL, NULL, N'string', NULL, NULL, NULL, NULL, 1234, CAST(3 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(1234 AS Numeric(18, 0)), N'nam', N'kiki', NULL, NULL, NULL, NULL, N'123 qs', NULL, NULL, NULL, NULL, N'male', NULL, NULL, NULL, NULL, 1331, CAST(2 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(9999 AS Numeric(18, 0)), N'What', N'Name', NULL, NULL, NULL, NULL, N'12345', NULL, NULL, NULL, NULL, N'female', N'9876534523', N'namnam@gmail.com', NULL, NULL, 0, CAST(4 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(12345 AS Numeric(18, 0)), N'nam', N'kiki', NULL, NULL, NULL, NULL, N'123 qs', NULL, NULL, NULL, NULL, N'male', NULL, NULL, NULL, NULL, 1331, CAST(2 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(312512 AS Numeric(18, 0)), N'1123f1', N'agwaw', NULL, NULL, NULL, NULL, N'12qs as', NULL, NULL, NULL, NULL, N'male', NULL, NULL, NULL, NULL, 123, CAST(3 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(1234456 AS Numeric(18, 0)), N'Hello', N'World', NULL, NULL, NULL, NULL, N'123 qs', NULL, NULL, NULL, NULL, N'male', NULL, NULL, NULL, NULL, 1234, CAST(2 AS Numeric(18, 0)))
INSERT [dbo].[PERSONAL] ([PERSONAL_ID], [CURRENT_FIRST_NAME], [CURRENT_LAST_NAME], [CURRENT_MIDDLE_NAME], [BIRTH_DATE], [SOCIAL_SECURITY_NUMBER], [DRIVERS_LICENSE], [CURRENT_ADDRESS_1], [CURRENT_ADDRESS_2], [CURRENT_CITY], [CURRENT_COUNTRY], [CURRENT_ZIP], [CURRENT_GENDER], [CURRENT_PHONE_NUMBER], [CURRENT_PERSONAL_EMAIL], [CURRENT_MARITAL_STATUS], [ETHNICITY], [SHAREHOLDER_STATUS], [BENEFIT_PLAN_ID]) VALUES (CAST(9999999 AS Numeric(18, 0)), N'gsf', N'sẻgs', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO

# [FK_EMPLOYMENT_PERSONAL]

In [0]:
ALTER TABLE [dbo].[EMPLOYMENT]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYMENT_PERSONAL] FOREIGN KEY([PERSONAL_ID])
REFERENCES [dbo].[PERSONAL] ([PERSONAL_ID])
GO
ALTER TABLE [dbo].[EMPLOYMENT] CHECK CONSTRAINT [FK_EMPLOYMENT_PERSONAL]
GO

# [FK_EMPLOYMENT_WORKING_TIME_EMPLOYMENT]

In [0]:
ALTER TABLE [dbo].[EMPLOYMENT_WORKING_TIME]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYMENT_WORKING_TIME_EMPLOYMENT] FOREIGN KEY([EMPLOYMENT_ID])
REFERENCES [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID])
GO
ALTER TABLE [dbo].[EMPLOYMENT_WORKING_TIME] CHECK CONSTRAINT [FK_EMPLOYMENT_WORKING_TIME_EMPLOYMENT]
GO

# [FK_JOB_HISTORY_EMPLOYMENT]

In [0]:
ALTER TABLE [dbo].[JOB_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_JOB_HISTORY_EMPLOYMENT] FOREIGN KEY([EMPLOYMENT_ID])
REFERENCES [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID])
GO
ALTER TABLE [dbo].[JOB_HISTORY] CHECK CONSTRAINT [FK_JOB_HISTORY_EMPLOYMENT]
GO

# [FK_PERSONAL_BENEFIT_PLANS]

In [0]:
ALTER TABLE [dbo].[PERSONAL]  WITH CHECK ADD  CONSTRAINT [FK_PERSONAL_BENEFIT_PLANS] FOREIGN KEY([BENEFIT_PLAN_ID])
REFERENCES [dbo].[BENEFIT_PLANS] ([BENEFIT_PLANS_ID])
GO
ALTER TABLE [dbo].[PERSONAL] CHECK CONSTRAINT [FK_PERSONAL_BENEFIT_PLANS]
GO

# [MS_Description]

In [0]:
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'MÃ CÔNG VIỆC' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EMPLOYMENT', @level2type=N'COLUMN',@level2name=N'WORKERS_COMP_CODE'
GO